<div *ngIf="showTable" class="panel panel-profile">
  <div class="clearfix">
    <div class="row form-inner-cover cover2">
      <div class="col-md-12 top-spc">
        <button type="button" (click)="updateInvalidDataStatus('ACCEPT')" [ladda]="isLoading"
                class="btn submit-btn">Approve
        </button>
        <button type="button" (click)="updateInvalidDataStatus('REJECT')" [ladda]="isLoading"
                class="btn cancel-btn">Reject
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-12 top-spc">
    <table id="pending" #pending datatable [dtOptions]="dtOptions" class="table table-condensed">
    </table>
  </div>
</div>



