.widget-container {
  background-color: hsla(291, 29%, 97%, 0.04) !important;
}
.widget {
 /* border: solid 1px #00aaff;*/
}

.widget-placeholder {
  background-color: hsla(64, 83%, 30%, 0.45);
}

.handle {
  width: 100%;
  height: 100%;
  color: #ffffff;
  background: #ffffff;
  font-weight: 500;
  /*padding: 15px;*/
  box-sizing: border-box;
}
.inner-table{
  width: 100% !important;
  height: 100% !important;
}

.pull-right {
  float: right !important;
}

.btn {
  margin-left: 10px;
}

.box-header-btns {
  top: 15px;
  right: 10px;
  cursor: pointer;
  position: absolute;
}
