<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="col-md-12 left-pad2 right-pad2">

      <div class="panel">
        <div class="panel-heading newbg">
          <h3 class="panel-title">Master Data Type Detail</h3>
        </div>
        <div class="panel-body">
          <div class="panel-body">
            <div class="row detailpage">
              <div class="col-md-4">
                <div class="form-inline">
                  <label>ID</label> :
                  <span>{{masterDataType.id}}</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-inline">
                  <label>Name</label> : <span>{{masterDataType.name}}</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-inline">
                  <label>Module</label> : <span>{{masterDataType.moduleName}}</span>
                </div>
              </div>
            </div>
            <div class="row detailpage">
              <div class="col-md-4">
                <div class="form-inline">
                  <label>Table</label> :
                  <span>{{masterDataType.table}}</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-inline">
                  <label>History Table</label> : <span>{{masterDataType.historyTable}}</span>
                </div>
              </div>
            </div>
          </div>


          <div class="custom-tabs-line tabs-line-bottom left-aligned">
            <ul class="nav" role="tablist">
              <li class="active"><a href="#tab-bottom-left1" role="tab" data-toggle="tab">Data Elements</a></li>
            </ul>
          </div>
          <div class="tab-content all_form">
            <div class="tab-pane tab-pane2 fade in active cover2" id="tab-bottom-left1">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12 table-responsive2">
                    <table class="table table_spc table-striped">
                      <tr id="heading-color">
                        <th>Name</th>
                        <th>Type</th>
                        <th>Table Column</th>
                      </tr>
                      <tr *ngFor="let element of masterDataType.masterDataElement">
                        <td>{{element.name}}</td>
                        <td>{{element.type}}</td>
                        <td>{{element.tableColumn}}</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="col-md-12" align="right">
                <button type="button"
                        [routerLink]="['/home/etl', 'master-data-type', {outlets: {'fullBodyOutlet': ['list']}}]"
                        class="btn submit-btn">Back
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
  <!-- END MAIN CONTENT -->
</div>
