<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="col-md-12 left-pad2 right-pad2">

      <div class="panel">
        <div class="panel-heading newbg">
          <h3 class="panel-title">Recon Detail</h3>
        </div>
        <div class="panel-body">
          <div class="panel-body">
            <div class="row detailpage">
                <div class="col-md-4">
                  <div class="form-inline">
                    <label>ID</label> :
                    <span>{{recon.id}}</span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-inline">
                    <label>Name</label> : <span>{{recon.name}}</span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-inline">
                    <label>Module</label> : <span>{{recon.moduleName}}</span>
                  </div>
                </div>

            </div>
          </div>
          <div *ngIf="recon.manuleRuleGroup?.rules">
            <div class="row">
              <div class="col-md-12"><h4>Manual Rule Groups: {{recon?.manuleRuleGroup?.name }} </h4></div>
            </div>
            <div class="panel panel-profile border-none cover2 box_hidden_align">
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="lbl6">Rule</label>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Execution Order</label>
                    </div>
                  </div>
                </div>
              </div>


              <div *ngFor="let element of recon.manuleRuleGroup.rules" class="row formArray">
                <div class="col-md-12 ">
                  <div class="col-md-3">
                    <div class="form-inline">
                      <span>{{element.rule?.name}}</span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-inline">
                      <span>{{element.executionOrder}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div *ngIf="(recon.relaxMatchRuleGroups && recon.relaxMatchRuleGroups.length>0)">
            <div *ngFor="let ruleGroup of recon.relaxMatchRuleGroups">
              <div class="row">
                <div class="col-md-12"><h4>Relax Match Rule Groups: {{ruleGroup?.name }} </h4></div>
              </div>
              <div class="panel panel-profile border-none cover2 box_hidden_align">
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="lbl6">Rule</label>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Execution Order</label>
                      </div>
                    </div>
                  </div>
                </div>


                <div *ngFor="let element of ruleGroup?.rules" class="row formArray">
                  <div class="col-md-12 ">
                    <div class="col-md-3">
                      <div class="form-inline">
                        <span>{{element.rule?.name}}</span>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-inline">
                        <span>{{element.executionOrder}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-12">
              <div class="col-md-12" align="right">
                <button type="button" [routerLink]="['/home/recon', 'recons', {outlets: {'fullBodyOutlet': ['list']}}]"
                        class="btn submit-btn">Back
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
  <!-- END MAIN CONTENT -->
</div>
