<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="col-md-12 left-pad2 right-pad2">
      <div class="panel panel-profile">
        <div class="panel panel-heading newhead newbg iconsize">
          <div class="row">
            <div class="col-md-6 innerheadsource">
              <h3>Jobs</h3>
            </div>
            <div class="col-md-6" align="right">
              <a [routerLink]="['/home/scheduler', 'job', {outlets: {'fullBodyOutlet': ['new']}}]" title="">
                <button type="button" class="btn new-page-btn"><i class="fa fa-plus-circle"
                                                                  aria-hidden="true"></i> New
                </button>
              </a>
            </div>
          </div>
        </div>
        <div class="">
          <div class="clearfix">
            <div class="row form-inner-cover">
              <div class="col-md-12 top-spc">
                <div class="col-md-3 right-margin">
                  <label>Job Name</label>
                  <input type="text" #name (keyup)="search(name.value, 1)" class="form-control">
                </div>
                <div class="col-md-3 right-margin">
                  <label>Module</label>
                  <select class="form-control" #parent (change)="search(parent.value, 2)">
                    <option [value]="0">--All--</option>
                    <option *ngFor="let parentModule of parentModules" value="{{parentModule.id}}">
                      {{parentModule.name}}
                  </select>
                </div>
                <div class="col-md-3 right-margin">
                  <label>Scheduling Type</label>
                  <select class="form-control" #schedule (change)="search(schedule.value, 3)">
                    <option hidden="true">--All--</option>
                    <option *ngFor="let schedule of scheduleType" value="{{schedule}}">
                      {{schedule}}
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-profile panel-top-spc">
        <div class="clearfix">
          <div class="col-md-12 top-spc all-cover-jobs">
            <table datatable [dtOptions]="dtOptions" class="table table-condensed">
            </table>
          </div>
        </div>

        <div class="backdrop" #backdrop id="backdrop" style=" display: none"></div>

        <div id="modal" class="modal" role="dialog" aria-labelledby="modal-submit-invoice-label">
          <div class="modal-dialog model-job-align">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="panel panel-heading newhead newbg">
                <h3 *ngIf="jobFormEnable" class="panel-title bold-text"><b>Deactivate job : {{job?.name}}</b></h3>
                <h3 *ngIf="!jobFormEnable" class="panel-title bold-text"><b>Activate job : {{job?.name}}</b></h3>
              </div>
              <div class="modal-body">
                <div>
                  <span *ngIf="!jobFormEnable">Are you sure you want to activate this job ?</span>
                </div>
                <form *ngIf="jobFormEnable" [formGroup]="form">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="col-md-12">
                        <div class="col-md-6">
                          <div class="form-group inline-label-align">
                            <label class="required">Duration</label>
                            <input type="number" formControlName="disableDuration" class="form-control input-sm"
                                   placeholder="Duration">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="lbl6 required"> Unit</label>
                            <select class="form-control input-sm" #moduleId formControlName="durationUnit">
                              <option value="IN_DAYS" selected>DAYS</option>
                              <option value="IN_HOURS">HOURS</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <div class="col-md-12" align="right">
                  <button type="submit" data-size="s" (click)="onSetTransaction()" class="btn submit-btn">
                    Submit
                  </button>
                  <button type="button" class="btn btn-primary cancel-btn" (click)="closeModalDialog()">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END MAIN CONTENT -->
</div>
