<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="col-md-12 left-pad2 right-pad2">
      <div class="panel panel-profile">
        <div class="panel panel-heading newhead newbg iconsize">
          <div class="row">
            <div class="col-md-6 innerheadsource">
              <h3>Job Executions</h3>
            </div>
          </div>
        </div>
        <div class="">
          <div class="clearfix">
            <div class="row form-inner-cover">
              <div class="col-md-12 top-spc">
                <div class="col-md-3 right-margin">
                  <label>Job</label>
                  <select class="form-control" #Job (change)="search(Job.value, 1)">
                    <option [value]="0">--All--</option>
                    <option *ngFor="let Job of Jobs" value="{{Job.id}}">
                      {{Job.name}}
                  </select>
                </div>
                <div class="col-md-3 right-margin">
                  <label>Status</label>
                  <select class="form-control" #status (change)="search(status.value, 5)">
                    <option value="">--ALL--</option>
                    <option *ngFor="let jobStatus of jobStatus" value="{{jobStatus.id}}">
                      {{jobStatus.name}}
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-profile panel-top-spc">
        <div class="clearfix">
          <div class="col-md-12 top-spc all-cover-jobs-execution">
            <table datatable [dtOptions]="dtOptions" class="table table-condensed">
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- END MAIN CONTENT -->
</div>
