<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="container-fluid left-pad2 right-pad2">

      <div class="panel">
        <div class="panel-heading newbg">
          <h3 class="panel-title">File Approval</h3>
        </div>
        <form>
          <div class="panel-body">

            <div class="panel-profile cover2">
              <div class="row" *ngIf="hasPrivilege" style="margin-top: 20px">
                  <div class="col-md-3">
                    <label class="required">Settlement Acknowledgement Approval</label>
                  </div>
                  <div class="col-md-9" align="left">
                    <button type="button" class="btn execute-btn btn-danger" data-size="s" [ladda]="isRejectedLoading"
                            [disabled]="approvalData.rejectedApproved" (click)="onApprove('REJECTED')">
                      Rejected Txn Ackn
                    </button>
                    <button type="button" class="btn execute-btn btn-danger" data-size="s" [ladda]="isAuthLoading"
                            [disabled]="approvalData.authApiApproved" (click)="onApprove('AUTH_API')">
                      Settlement Reconciled Ackn
                    </button>
                    <button type="button" class="btn execute-btn btn-danger" data-size="s" [ladda]="isReversalLoading"
                            [disabled]="approvalData.reversalApiApproved" (click)="onApprove('REVERSAL_API')">
                      Reversal Api Ackn
                    </button>
                    <button type="button" class="btn execute-btn btn-danger" data-size="s" [ladda]="isAutoReversalLoading"
                            [disabled]="approvalData.autoReversalApproved" (click)="onApprove('AUTO_REVERSAL')">
                      Auto Reversal Ackn
                    </button>
                  </div>
              </div>
            </div>

            <div class="panel-profile cover2 top-spc">
              <div class="row" style="margin-top: 20px">
                  <div class="col-md-3">
                    <label class="required">Merchant Decline Proof Approval</label>
                  </div>
                  <div class="col-md-9" align="left">
                    <button type="button" class="btn execute-btn btn-danger" data-size="s" [ladda]="isMerchantProofLoading"
                            [disabled]="!hasMerchantProof" (click)="approveMerchantFile()">
                      Approve
                    </button>
                  </div>
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- END MAIN CONTENT -->
</div>
