<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="col-md-12 left-pad2 right-pad2">
      <div class="panel panel-profile">
        <div class="panel panel-heading newhead newbg iconsize">
          <div class="row">
            <div class="col-md-6 innerheadsource">
              <h3>Logs</h3>
            </div>
            <div class="col-md-6" align="right">
              <button type="button" (click)="navigateToForm()"
                      class="btn btn-primary etl-cancel-btn"
                      data-size="s">
                Back
              </button>
            </div>
          </div>
        </div>
        <div class="">
          <div class="clearfix">
            <div class="row form-inner-cover">
              <div class="col-md-12 top-spc">
                <div class="col-md-2 right-margin">
                  <label>Pipeline</label>
                  <select class="form-control" [(ngModule)]="pipelineId" #pipeline
                          (change)="searchPipeLineName(pipeline.value)">
                    <option *ngFor="let pipeline of filteredPipelines" value="{{pipeline.name}}">
                      {{pipeline.description}}
                  </select>
                </div>
                <div class="col-md-2 right-margin">
                  <label>Severity</label>
                  <select class="form-control" #severity (change)="searchBySeverity(severity.value)">
                    <option value=" ">--All--</option>
                    <option value="INFO">INFO</option>
                    <option value="DEBUG">DEBUG</option>
                    <option value="WARN">WARN</option>
                    <option value="ERROR">ERROR</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-profile panel-top-spc">
        <div class="clearfix">
          <div class="col-md-12 top-spc all-cover-rules">
            <table datatable [dtOptions]="dtOptions" class="table table-condensed">
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- END MAIN CONTENT -->
</div>
