<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="container-fluid left-pad2 right-pad2">

      <div class="panel">
        <div class="panel-heading newbg">
          <h3 class="panel-title">New Recon Iteration</h3>
        </div>
        <div class="panel-body">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="panel-profile cover2">
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="required">Module : </label>
                      <select class="form-control input-sm" #module (change)="onModuleSelect(module.value)"
                              placeholder="text field">
                        <option value="null" disabled>--Select One--</option>
                        <option *ngFor="let module of modules" value="{{module.id}}">{{module.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="required">Recon : </label>
                      <select class="form-control input-sm" formControlName="reconId" #reconId
                              (change)="onReconSelect(reconId.value)">
                        <option value="null" disabled>Select One</option>
                        <option *ngFor="let recon of recons" value="{{recon.id}}">{{recon.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div *ngIf="reconIsCycleWise" class="col-md-4">
                    <div class="form-group">
                      <label class="required">Recon Cycle : </label>
                      <select class="form-control input-sm" formControlName="cycle">
                        <option value="null" disabled>Select One</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12" align="right">
                <button data-size="s" type="submit" class="btn submit-btn">Submit</button>
                <button type="button" (click)="cancel()" class="btn btn-primary cancel-btn">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
  <!-- END MAIN CONTENT -->
</div>
