<div class="panel panel-profile all-panel-align">
  <div class="clearfix">

    <table class="table table-hover table-inner-align privilege-table-cover">
      <tbody>
      <tr>
        <th class="newbg">Recons</th>
      </tr>
      <!--<tr>
        <td class="inner-td"><input type="text"  class="form-control" placeholder="Search..."></td>
      </tr>-->
      <tr *ngFor="let recon of recons; let i = index" (click)="select(i)"  [ngClass]="{'active': selectedIndex == i  }">
        <td><a href="javascript:void(0);" class="active" (click)="onReconClick(recon.id)"><div>{{recon.name}}</div></a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
