<!-- MAIN -->
<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-12 left-pad2 right-pad2">
          <div class="panel panel-profile">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="clearfix">
                <!-- TABBED CONTENT -->
                <div class="panel panel-heading newhead newbg"><h4>{{isEditMode ? 'Update' : 'New'}} Dashlet</h4></div>
                <div class="panel panel-profile border-none2 cover3">
                  <div class="row form-inner-cover">
                    <div class="col-md-12">
                      <div class="col-md-4">
                        <div class="form-inline inline-label-align">
                          <label class="lbl2 required">Name : </label>
                          <input type="text" formControlName="name" class="form-control input-sm" placeholder="Name">
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-inline inline-label-align">
                          <label class="lbl2 required">Type : </label>
                          <select formControlName="dashletType" class="form-control input-sm" placeholder="last name">
                            <option value="LIST">List</option>
                            <option value="CHART">Chart</option>
                            <option value="KPI">KPI</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-5">
                        <div class="form-inline inline-label-align radio-label">
                          <label class="lbl required">Data Provider : </label>
                          <select formControlName="dataProvider" #dataProvider
                                  (change)="onDataProviderChange(dataProvider.value,false)"
                                  class="form-control input-sm" id="dataProvider">
                            <option *ngFor="let dataprovider of dataproviders" value="{{dataprovider.dataProviderId}}">
                              {{dataprovider.dataProviderName}}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="col-md-4">
                        <div class="form-inline inline-label-top-align">
                          <label class="lbl required">Refresh : </label>
                          <label class="">
                            <input name="refreshType" value="AUTOMATIC" type="radio" checked="true" #refreshType
                                   formControlName="refreshType">
                            <span><i></i>Auto</span>
                          </label>
                          <label class="">
                            <input name="refreshType" value="MANUAL" type="radio" #refreshType
                                   formControlName="refreshType">
                            <span><i></i>Manual</span>
                          </label>
                        </div>
                      </div>
                      <div class="col-md-4" *ngIf="form.get('refreshType').value==='AUTOMATIC'">
                        <div class="form-inline inline-label-top-align">
                          <label class="lbl2 required">Time : </label>
                          <input type="number" formControlName="refreshTime" class="form-control input-sm"
                                 placeholder="Refresh Time(In Seconds)">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-inline inline-label-top-align">
                          <label class="lbl2">Download Type : </label>
                          <select formControlName="dashletDownloadType" class="form-control input-sm" placeholder="Select Type">
                            <option value="CSV">CSV</option>
                            <option value="XLSX">XLSX</option>
                          </select>
                        </div>
                      </div>
                    </div>
                      <div class="col-md-12">
                      <div class="col-md-5" *ngIf="form.get('dashletType').value==='CHART'">
                        <div class="form-inline inline-label-align">
                          <label class="lbl required">Default Type : </label>
                          <select formControlName="defaultDashletType" class="form-control input-sm"
                                  placeholder="last name">
                            <option value="CHART_LINE">Line Chart</option>
                            <option value="CHART_BAR">Bar Chart</option>
                            <option value="CHART_HORIZONTAL_BAR">Horizontal Bar Chart</option>
                            <option value="CHART_RADAR">Radar Chart</option>
                            <option value="CHART_DOUGHNUT">Doughnut Chart</option>
                            <option value="CHART_PIE">Pie Chart</option>
                            <option value="CHART_POLAR_AREA">Polar Area Chart</option>
                            <option value="CHART_LINE_STACKED">Stacked Line Chart</option>
                            <option value="CHART_BAR_STACKED">Stacked Bar Chart</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="all_form">
                  <div class="custom-tabs-line tabs-line-bottom left-aligned">
                    <ul class="nav" role="tablist">
                      <li class="active"><a href="#tab-bottom-left1" role="tab" data-toggle="tab"><p
                        *ngIf="form.get('dashletType').value==='LIST'">Columns</p>
                        <p *ngIf="form.get('dashletType').value != 'LIST'">Labels</p>
                        <p *ngIf="form.get('dashletType').value===''">Columns</p>
                      </a></li>
                      <li *ngIf="form.get('dashletType').value !='KPI'"><a href="#tab-bottom-left2" role="tab"
                                                                           data-toggle="tab">Filters</a></li>
                      <li *ngIf="form.get('dashletType').value !='KPI'"><a href="#tab-bottom-left3" role="tab"
                                                                           data-toggle="tab">Sorters</a></li>
                      <li *ngIf="form.get('dashletType').value==='LIST'"><a href="#tab-bottom-left4" role="tab"
                                                                            data-toggle="tab">Color</a></li>
                      <li *ngIf="form.get('dashletType').value !='LIST' && form.get('dashletType').value !='KPI'"><a
                        href="#tab-bottom-left5" role="tab" data-toggle="tab">Tolerance Configuration</a></li>
                    </ul>
                  </div>
                  <div class="tab-content">
                    <div class="tab-pane tab-pane2 fade in active cover2" id="tab-bottom-left1">
                      <div class="row" *ngIf="form.get('dashletType').value ==='KPI'">
                        <div class="col-md-12 ">
                          <div class="col-md-3">
                            <div class="form-group">
                              <label class="required">Label</label>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label class="required">Value Field</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row" *ngIf="form.get('dashletType').value === 'KPI'">
                        <div class="col-md-12">
                          <div class="col-md-3">
                            <div class="form-inline inline-label-align">
                              <select formControlName="kpiLabel" class="form-control input-sm">
                                <option *ngFor="let metaData of dataprovider.metaData" value="{{metaData.field}}">
                                  {{metaData.discription}}
                                </option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-inline inline-label-align">
                              <select formControlName="kpiLabelColumn" class="form-control input-sm">
                                <option *ngFor="let metaData of dataprovider.metaData" value="{{metaData.field}}">
                                  {{metaData.discription}}
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row"
                           *ngIf="form.get('dashletType').value !='LIST' && form.get('dashletType').value !='KPI'">
                        <div class="col-md-12 ">
                          <div class="col-md-3">
                            <div class="form-group">
                              <label
                                [ngClass]="form.get('defaultDashletType').value ==='CHART_PIE' || form.get('defaultDashletType').value ==='CHART_DOUGHNUT' ? '' : 'required'">Series</label>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label class="required">Label</label>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label class="required">Count</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row"
                           *ngIf="form.get('dashletType').value != 'LIST' && form.get('dashletType').value !='KPI'">
                        <div class="col-md-12">
                          <div class="col-md-3">
                            <div class="form-inline inline-label-align">
                              <select formControlName="seriesColumn" class="form-control input-sm">
                                <option *ngFor="let metaData of dataprovider.metaData" value="{{metaData.field}}">
                                  {{metaData.discription}}
                                </option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-inline inline-label-align">
                              <select formControlName="labelColumn" class="form-control input-sm">
                                <option *ngFor="let metaData of dataprovider.metaData" value="{{metaData.field}}">
                                  {{metaData.discription}}
                                </option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-inline inline-label-align">
                              <select formControlName="countColumn" class="form-control input-sm">
                                <option *ngFor="let metaData of dataprovider.metaData" value="{{metaData.field}}">
                                  {{metaData.discription}}
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row" *ngIf="form.get('dashletType').value==='LIST'">
                        <div class="col-md-12 ">
                          <div class="col-md-3">
                            <div class="form-group">
                              <label class="required">Label</label>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label class="required">Field Name</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="form.get('dashletType').value==='LIST'">
                        <div class="row"
                             *ngFor="let tableColumn of form.get('tableColumns')['controls']; let i = index">
                          <div formArrayName="tableColumns">
                            <div class="col-md-12 " [formGroupName]="i">
                              <div class="col-md-3">
                                <div class="form-group">
                                  <input formControlName="label" id="label" type="text" class="form-control input-sm">
                                </div>
                              </div>
                              <div class="col-md-3">
                                <div class="form-group">
                                  <select formControlName="fieldName" id="fieldName" class="form-control input-sm">
                                    <option *ngFor="let metaData of dataprovider.metaData" value="{{metaData.field}}">
                                      {{metaData.discription}}
                                    </option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-sm-1" *ngIf="(i > 0)">
                                <div class="form-group">
                                  <a href="javascript:void(0);" (click)="removeTableColumn(i)" class="text-danger mt-4"><i
                                    class="fa fa-trash-o"></i></a></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row" *ngIf="form.get('dashletType').value==='LIST'">
                        <div class="col-md-12">
                          <div class="col-md-6">
                            <div class="form-group">
                              <button type="button" (click)="addTableColumn()" class="btn btn-primary add-btn"><i
                                class="fa fa-plus-circle" aria-hidden="true"></i> Add
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane tab-pane2 fade cover2" id="tab-bottom-left2">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="col-md-2">
                            <div class="form-group">
                              <label class="required">Label</label>
                            </div>
                          </div>
                          <div class="col-md-2">
                            <div class="form-group">
                              <label class="required">Field</label>
                            </div>
                          </div>
                          <div class="col-md-2">
                            <div class="form-group">
                              <label class="required">Input Type</label>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label>Lookup Provider</label>
                            </div>
                          </div>
                          <div class="col-md-2">
                            <div class="form-group">
                              <label>Value</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row" *ngFor="let filter of form.get('filters')['controls']; let i = index">
                        <div formArrayName="filters">
                          <div class="col-md-12" [formGroupName]="i">
                            <div class="col-md-2">
                              <div class="form-group">
                                <input formControlName="label" type="text" class="form-control input-sm">
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="form-group">
                                <select formControlName="fieldName" class="form-control input-sm">
                                  <option *ngFor="let filter of dataprovider.filters" value="{{filter.name}}">
                                    {{filter.name}}
                                  </option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="form-group">
                                <select formControlName="inputType" class="form-control input-sm">
                                  <option>select</option>
                                  <option value="TEXT">Text</option>
                                  <option value="CALENDER">Calender</option>
                                  <option value="DROPDOWN">Drop Down</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-3" *ngIf="filter.get('inputType').value === 'CALENDER'">
                              <label class="">
                                <input id="dateType1" value="ALL" type="radio" checked="true"
                                       formControlName="dateType">
                                <span><i></i>ALL</span>
                              </label>
                              <label class="">
                                <input id="dateType2" value="PAST" type="radio" formControlName="dateType">
                                <span><i></i>From Date</span>
                              </label>
                              <label class="">
                                <input id="dateType3" value="FUTURE" type="radio" formControlName="dateType">
                                <span><i></i>To Date</span>
                              </label>
                            </div>
                            <div class="col-md-3" *ngIf="filter.get('inputType').value === 'DROPDOWN'">
                              <div class="form-group">
                                <select formControlName="lookUpProvider"
                                        (change)="getLookUpProviderValue(filter.get('lookUpProvider').value)"
                                        class="form-control input-sm">
                                  <option *ngFor="let lookUpProvider of lookUpProviders"
                                          value="{{lookUpProvider.lookUpProviderId}}">
                                    {{lookUpProvider.lookUpProviderName}}
                                  </option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-2"
                                 *ngIf="(dataprovider.dataSetType==='COMMAN_DATA_SET' || dataprovider.dataSetType==='DATA_SET_WITH_VALUE' )&& (filter.get('inputType').value === 'DROPDOWN' || filter.get('inputType').value === 'TEXT') ">
                              <div class="form-group">
                                <input *ngIf="filter.get('inputType').value === 'TEXT'" formControlName="value"
                                       type="text" class="form-control input-sm">

                                <select *ngIf="filter.get('inputType').value === 'DROPDOWN'"
                                        formControlName="staticValue" class="form-control input-sm">
                                  <option value="null" disabled>Select One</option>
                                  <option
                                    *ngFor="let providerData of lookupDataFilter.get(filter.get('lookUpProvider').value)"
                                    value="{{providerData.provider_key}}">{{providerData.provider_value}}
                                  </option>
                                </select>
                              </div>
                            </div>
                            <div class="col-sm-1">
                              <div class="form-group">
                                <a href="javascript:void(0);" (click)="removeFilter(i)" class="text-danger mt-4"><i
                                  class="fa fa-trash-o"></i></a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="col-md-6">
                            <div class="form-group">
                              <button type="button" (click)="addFilter()" class="btn btn-primary add-btn"><i
                                class="fa fa-plus-circle" aria-hidden="true"></i> Add
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane tab-pane2 fade" id="tab-bottom-left3">
                      <div class="col-md-12 cover2">
                        <div class="row" *ngFor="let sorter of form.get('sorters')['controls']; let i = index">
                          <div formArrayName="sorters">
                            <div class="col-md-12" [formGroupName]="i">
                              <div class="form-group fancycheckbox">
                                <label class="fancy-checkbox">
                                  <input formControlName="enable" name="enable" type="checkbox">
                                  <span><i></i>{{sorter.controls.name.value}}</span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane tab-pane2 fade cover2" id="tab-bottom-left4">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="col-md-3">
                            <div class="form-group">
                              <label class="required">Field</label>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label class="required">Condition</label>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label class="required">Condition Value</label>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label class="required">Color Code</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row" *ngFor="let color of form.get('colors')['controls']; let i = index">
                        <div formArrayName="colors">
                          <div class="col-md-12" [formGroupName]="i">
                            <div class="col-md-3">
                              <div class="form-group">
                                <select formControlName="fieldName" id="colorFieldName" class="form-control input-sm">
                                  <option *ngFor="let metaData of dataprovider.metaData" value="{{metaData.field}}">
                                    {{metaData.field}}
                                  </option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <select formControlName="conditionName" class="form-control input-sm">
                                  <option>select</option>
                                  <option value="Equal">Equal To</option>
                                  <option value="Less">Greater Then</option>
                                  <option value="Greater">Less Then</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="form-group">
                                <input type="text" formControlName="conditionValue" class="form-control input-sm"
                                       placeholder="Condition Value">
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <select formControlName="colorCode" class="form-control input-sm">
                                  <option>select</option>
                                  <option style="background:#ffffff" value="ffffff">White</option>
                                  <option style="background:#d0d0d0" value="d0d0d0">Light Grey</option>
                                  <option style="background:#777777" value="777777">Grey</option>
                                  <option style="background:#000000" value="#000000">Black</option>
                                  <option style="background:#ff00ff" value="ff00ff">Pink</option>
                                  <option style="background:#ff0000" value="ff0000">Red</option>
                                  <option style="background:#aa0000" value="aa0000">Brown</option>
                                  <option style="background:#ff6c00" value="ff6c00">Orange</option>
                                  <option style="background:#ffff00" value="ffff00">Yellow</option>
                                  <option style="background:#aaffaa" value="aaffaa">lightgreen</option>
                                  <option style="background:#00ff00" value="00ff00">brightgreen</option>
                                  <option style="background:#00aa00" value="00aa00">darkgreen</option>
                                  <option style="background:#bbddff" value="bbddff">sky blue</option>
                                  <option style="background:#0000ff" value="0000ff">Blue</option>
                                  <option style="background:#0000aa" value="0000aa">Dark Blue</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-sm-1">
                              <div class="form-group">
                                <a href="javascript:void(0);" (click)="removeColor(i)" class="text-danger mt-4"><i
                                  class="fa fa-trash-o"></i></a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="col-md-6">
                            <div class="form-group">
                              <button type="button" (click)="addColor()" class="btn btn-primary add-btn"><i
                                class="fa fa-plus-circle" aria-hidden="true"></i> Add
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane tab-pane2 fade cover2" id="tab-bottom-left5">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="col-md-2">
                            <div class="form-group">
                              <label class="required">Label</label>
                            </div>
                          </div>
                          <div class="col-md-1">
                            <div class="form-group">
                              <label class="required">Value</label>
                            </div>
                          </div>
                          <div class="col-md-2">
                            <div class="form-group">
                              <label class="required">Tolerance Layout</label>
                            </div>
                          </div>
                          <div class="col-md-2">
                            <div class="form-group">
                              <label class="required">Axis</label>
                            </div>
                          </div>
                          <div class="col-md-2">
                            <div class="form-group">
                              <label class="required">Position</label>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label class="required">Color Code</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row"
                           *ngFor="let dashletTolerance of form.get('dashletTolerances')['controls']; let i = index">
                        <div formArrayName="dashletTolerances">
                          <div class="col-md-12" [formGroupName]="i">
                            <div class="col-md-2">
                              <div class="form-group">
                                <input type="text" formControlName="label" class="form-control input-sm"
                                       placeholder="Label">
                              </div>
                            </div>
                            <div class="col-md-1">
                              <div class="form-group">
                                <input type="text" formControlName="value" class="form-control input-sm"
                                       placeholder="Value">
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="form-group">
                                <select formControlName="mode" class="form-control input-sm">
                                  <option value="">select</option>
                                  <option value="horizontal">Horizontal</option>
                                  <option value="vertical">Vertical</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="form-group">
                                <select formControlName="scale" class="form-control input-sm">
                                  <option value="">select</option>
                                  <option value="y-axis-0">Y Axis</option>
                                  <option value="x-axis-0">X Axis</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="form-group">
                                <select formControlName="position" class="form-control input-sm">
                                  <option value="">select</option>
                                  <option value="top">Top</option>
                                  <option value="bottom">Bottom</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="form-group">
                                <select formControlName="colorCode" class="form-control input-sm">
                                  <option value="">select</option>
                                  <option style="background:#ffffff" value="ffffff">White</option>
                                  <option style="background:#d0d0d0" value="d0d0d0">Light Grey</option>
                                  <option style="background:#777777" value="777777">Grey</option>
                                  <option style="background:#000000" value="#000000">Black</option>
                                  <option style="background:#ff00ff" value="ff00ff">Pink</option>
                                  <option style="background:#ff0000" value="ff0000">Red</option>
                                  <option style="background:#aa0000" value="aa0000">Brown</option>
                                  <option style="background:#ff6c00" value="ff6c00">Orange</option>
                                  <option style="background:#ffff00" value="ffff00">Yellow</option>
                                  <option style="background:#aaffaa" value="aaffaa">lightgreen</option>
                                  <option style="background:#00ff00" value="00ff00">brightgreen</option>
                                  <option style="background:#00aa00" value="00aa00">darkgreen</option>
                                  <option style="background:#bbddff" value="bbddff">sky blue</option>
                                  <option style="background:#0000ff" value="0000ff">Blue</option>
                                  <option style="background:#0000aa" value="0000aa">Dark Blue</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-1">
                              <div class="form-group">
                                <a href="javascript:void(0);" (click)="removeDashletTolerance(i)"
                                   class="text-danger mt-4"><i
                                  class="fa fa-trash-o"></i></a>
                              </div>
                            </div>
                            <!--<div class="col-sm-1">

                            </div>-->
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="col-md-6">
                            <div class="form-group">
                              <button type="button" (click)="addDashletTolerance()" class="btn btn-primary add-btn"><i
                                class="fa fa-plus-circle" aria-hidden="true"></i> Add
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12" align="right">
                  <div class="form-group">
                    <button [ladda]="isLoading" data-size="s" type="submit" class="btn submit-btn">
                      {{isEditMode?'Update':'Submit'}}
                    </button>
                    <button type="button" (click)="cancel()" class="btn btn-primary cancel-btn">Cancel</button>
                  </div>
                </div>
                <!-- END TABBED CONTENT -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END MAIN CONTENT -->
</div>

