<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="col-md-12 left-pad2 right-pad2">
      <div class="panel">
        <div class="panel-heading newbg">
          <h3 class="panel-title">Detail</h3>
        </div>
        <div class="panel-body">
          <div class="panel panel-profile border-none cover2">
            <div class="row detailpage">
              <div class="col-md-12">
                <div class="col-md-4">
                  <div class="form-inline">
                    <label>ID</label> :
                    <span>{{detail.id}}</span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-inline">
                    <label>GL Name</label> : <span>{{detail.glName}}</span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-inline">
                    <label>GL Number</label> : <span>{{detail.glNumber}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12"><h4>CONFIGURATION</h4></div>
          </div>
          <div class="wrapper center-block">
            <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default border-none2" *ngFor=" let config of detail.configDetails; let i = index">
                <div class="col-sm-12">

                  <div class="row">
                    <div class="panel-heading theme-panel-head active" role="tab" [attr.id]="'heading'+i">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion2" [href]="'#collapse'+i"
                           aria-expanded="false" [attr.aria-controls]="'collapse'+i">
                          {{config.description}}
                        </a>
                      </h4>
                    </div>
                    <div [attr.id]="'collapse'+i" class="panel-collapse collapse" role="tabpanel"
                         [attr.aria-labelledby]="'heading'+i">
                      <div class="panel-body">
                        <div>
                          <div class="col-sm-12">

                            <div class="row formArray">
                              <div class="row">
                                <div class="col-md-12">
                                  <hr color='red'>
                                </div>
                              </div>
                              <div class="row detailpage">
                                <div class="col-md-12">
                                  <div class="col-md-4">
                                    <div class="form-inline">
                                      <label>Type</label> : <span>{{config.transactionType}}</span>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="form-inline">
                                      <label>Data Source </label> : <span>{{config.dataSourceName}}</span>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="form-inline">
                                      <label>Transaction Date column</label> : <span>{{config.trxnDateColumnName}}</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-12">
                                  <div class="col-md-12">
                                    <div class="form-inline">
                                      <label>Description</label> : <span>{{config.description}}</span>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <!--           conditions                -->

                              <div class="panel-heading2">Common Condition</div>
                              <div class="panel-body2">
                                <div class="panel-group all_form margin_none" id="accordion" role="tablist"
                                     aria-multiselectable="true">
                                  <div class="panel">
                                    <div class="panel-heading new-rule-panel-head">
                                      <table class="table table-hover table-inner-align privilege-table-cover">
                                        <tbody>
                                        <tr>
                                          <th class="newbg">Condition Joint Type</th>
                                          <th class="newbg">Data Element</th>
                                          <th class="newbg">Matching Operator</th>
                                          <th class="newbg">Value Type</th>
                                          <th class="newbg">Value</th>
                                          <th class="newbg">Variance Type</th>
                                        </tr>
                                        <tr *ngFor=" let condition of config.conditions ; let a = index">
                                          <td id="checke">{{condition.conditionJointType}}</td>
                                          <td>{{condition.dataElementName}}</td>
                                          <td>{{condition.matchingOperator}}</td>
                                          <td>{{condition.valueType}}</td>
                                          <td>{{condition.value}}</td>
                                          <td>{{condition.varianceType}}</td>
                                        </tr>
                                        </tbody>
                                      </table>
                                    </div>

                                    <!--                 Slab            -->

                                    <div class="panel-heading2 margin-top-15">Slab</div>
                                    <div class="panel-body2">
                                      <div class="panel-group all_form margin_none" id="accordionjhjk" role="tablist"
                                           aria-multiselectable="true">
                                        <div class="panel"
                                             *ngFor=" let glSlab of config.glSlabs; let b = index">
                                          <div class="">
                                            <div>
                                              <div class="panel-heading2">{{'Slab'+(b+1)}}</div>
                                              <div class="panel-body rule-panel-body">
                                                <div>
                                                  <table
                                                    class="table table-hover table-inner-align privilege-table-cover">
                                                    <tbody>
                                                    <tr>
                                                      <th class="newbg">Data Element</th>
                                                      <th class="newbg">Matching Operator</th>
                                                      <th class="newbg">Value</th>
                                                      <th class="newbg">Condition Joint Type</th>
                                                    </tr>
                                                    <tr
                                                      *ngFor=" let slabCondition of glSlab.slabConditions ; let a = index">
                                                      <td>{{slabCondition.dataElementName}}</td>
                                                      <td>{{slabCondition.matchingOperator}}</td>
                                                      <td>{{slabCondition.value}}</td>
                                                      <td>{{slabCondition.conditionJointType}}</td>
                                                    </tr>
                                                    </tbody>
                                                  </table>
                                                </div>
                                                <div class="row detailpage">
                                                  <div class="col-md-12">
                                                    <div class="col-md-4">
                                                      <div class="form-inline">
                                                        <label>Formula Select</label> :
                                                        <span>{{glSlab.formulaSelect}}</span>
                                                      </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                      <div class="form-inline">
                                                        <label>Field</label> : <span>{{glSlab.fieldName}}</span>
                                                      </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                      <div class="form-inline">
                                                        <label>Value</label> : <span>{{glSlab.value}}</span>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12  top-spc20" align="right">
              <button type="button" class="col-md-12" align="right"
                      [routerLink]="['/home/recon', 'gl-config', {outlets: {'fullBodyOutlet': ['list']}}]"
                      class="submit-btn">Back
              </button>
            </div>
          </div>
        </div>
        <!-- END MAIN CONTENT -->
      </div>
    </div>
  </div>
</div>
