<div class="main">
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 right-pad2 left-pad2">
          <div class="panel panel-profile">
            <div class="panel panel-heading newhead newbg">
              <div class="row">
                <div class="col-md-12 innerheadsource">
                  <h4>My Tickets</h4>
                </div>
              </div>
            </div>
            <div class="">
              <div class="clearfix">
                <div class="row form-inner-cover">
                  <div class="col-md-12 top-spc">
                    <div class="col-md-3 right-margin">
                      <label>Module</label>
                      <select class="form-control" #module (change)="search(module.value, 2)">
                        <option value="0">&#45;&#45;All&#45;&#45;</option>
                        <option *ngFor="let module of modules" value="{{module.id}}">
                          {{module.name}}
                      </select>
                    </div>

                    <div class="col-md-3 right-margin">
                      <label>Status</label>
                      <select class="form-control input-sm" #statu (change)="search(statu.value, 7)">
                        <option value="">--All--</option>
                        <option *ngFor="let statu of status" value="{{statu}}">
                          {{statu}}
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-profile">
            <div class="clearfix">
              <div class="row form-idocument-modalnner-cover">
                <div class="col-md-12 ">
                  <div class="col-md-12 right-margin top-bottom-spc">
                    <button type="button" class="btn submit-btn" (click)="onHistory()">View History</button>
                    <button type="button" class="btn submit-btn" (click)="onDocument()">Add Document</button>
                    <button type="button" class="btn submit-btn" (click)="onComment()">Add Comment</button>
                    <button type="button" class="btn submit-btn" (click)="onProcess()">Process</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-profile panel-top-spc">
            <div class="clearfix">
              <div class="col-md-12 top-spc all-cover-users">
                <table datatable [dtOptions]="dtOptions" class="table table-condensed">
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
