<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 right-pad2 left-pad2">
          <div class="panel panel-profile">
            <div class="panel panel-heading newhead newbg">
              <div class="row">
                <div class="col-md-10 innerheadsource">
                  <h4>Error Logs</h4>
                </div>
              </div>
            </div>
            <div id="stack-modal" class="modal" role="dialog" aria-labelledby="modal-submit-invoice-label">
              <div class="modal-dialog model-stack-align" style="width: 70%; height: 70%">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="panel panel-heading newhead newbg">
                    <h4 class="modal-title">Error Stack Trace</h4>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-12 table-stackresponsive">
                        <span>{{stackTrace.stackTrace}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary cancel-btn" (click)="cancel()"
                            data-dismiss="modal">Close
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="">
              <div class="clearfix">
                <div class="row form-inner-cover">
                  <div class="col-md-12 top-spc">
                    <div class="col-md-3 right-margin">
                      <label>User</label>
                      <input type="text" #name (keyup)="search(name.value, 0)" class="form-control"
                             placeholder="User">
                    </div>
                    <div class="col-sm-4">
                      <label>Created On</label>
                      <div class="form-group">
                        <input type="text" (bsValueChange)="searchByDate($event, 6)"
                               class="range-group-input form-control"
                               placeholder="From"
                               bsDatepicker #fromDate
                               (click)="toDate.value=''"
                               [bsConfig]="bsConfig">
                        <span class="range-group-addon">to</span>
                        <input type="text" (bsValueChange)="searchByDate($event, 7)"
                               class="range-group-input form-control"
                               placeholder="Till"
                               bsDatepicker #toDate
                               (click)="getToDatePickerConfig(fromDate.value)"
                               [bsConfig]="getDatePickerConfigRestrictPastDate">
                      </div>
                    </div>
                    <div class="col-md-3 right-margin">
                      <label>Type</label>
                      <select #error
                              (change)="search(error.value, 4)"
                              class="form-control" id="dataProvider">
                        <option value=" ">---------- All ---------</option>
                        <option *ngFor="let errorLogType of errorLogTypes" value="{{errorLogType}}">
                          {{errorLogType}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-profile panel-top-spc">
            <div class="clearfix">
              <div class="col-md-12 top-spc all-cover-users">
                <table datatable [dtOptions]="dtOptions" class="table table-condensed">
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END MAIN CONTENT -->
</div>
