<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-12 right-pad2 left-pad2">

          <div class="panel panel-heading newhead newbg"><h4>Master Data Type</h4></div>

          <div class="panel panel-profile">
            <div class="clearfix">
              <div class="row form-inner-cover cover2">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                  <div class="col-md-12 top-spc">
                    <div class="col-md-3 right-margin">
                      <div class="form-group">
                        <label class="required">Name</label>
                        <input type="text" formControlName="name" class="form-control input-sm" placeholder="Name">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group" formGroupName="module">
                        <label class="required">Module</label>
                        <select class="form-control input-sm" formControlName="id">
                          <option value="null" disabled>--Select One--</option>
                          <option *ngFor="let module of module" value="{{module.id}}">{{module.name}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="col-md-9">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="col-md-12">
                            <label class="required top-spc">Data Base Table Config : </label>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group inline-label-align radio-label">
                              <div class="col-md-3">
                                <label class="fancy-radio">
                                  <input name="dataBaseTableConfigType" value="EXISTING" type="radio" #source
                                         formControlName="dataBaseTableConfigType">
                                  <span style="width: 300px"><i></i>Use Existing Table</span>
                                </label>
                              </div>
                              <div class="col-md-2">
                                <label class="fancy-radio">
                                  <input name="dataBaseTableConfigType" value="TABLE" type="radio" #source
                                         formControlName="dataBaseTableConfigType">
                                  <span style="width: 300px"><i></i>Create Table</span>
                                </label>
                              </div>
                              <label class="fancy-radio">
                                <input name="dataBaseTableConfigType" value="SCRIPT" type="radio" #source
                                       formControlName="dataBaseTableConfigType">
                                <span style="width: 300px"><i></i>Create Script</span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 mar-left">
                        <div class="col-md-3" *ngIf="form.get('dataBaseTableConfigType').value === dataBaseTableConfigType.EXISTING">
                          <div class="form-group">
                            <label class=" required lbl6">Table</label>
                            <select class="form-control input-sm" #table formControlName="table"
                                    (change)="onTableSelect(table.value)">
                              <option value="null" disabled>--Select One--</option>
                              <option *ngFor="let table of tables" value="{{table.name}}">
                                {{table.name}}
                            </select>
                          </div>
                        </div>
                        <div class="col-md-3" *ngIf="form.get('dataBaseTableConfigType').value === dataBaseTableConfigType.TABLE || form.get('dataBaseTableConfigType').value === dataBaseTableConfigType.SCRIPT">
                          <div class="form-group">
                            <label>Table</label>
                            <input type="text" formControlName="table" class="form-control input-sm" placeholder="Table" maxlength="50">
                          </div>
                        </div>
                      <div class="col-md-3" *ngIf="form.get('dataBaseTableConfigType').value === dataBaseTableConfigType.EXISTING">
                        <div class="form-group">
                          <label class=" required lbl6">History Table</label>
                          <select class="form-control input-sm" #historyTable formControlName="historyTable">
                            <option value="null" disabled>--Select One--</option>
                            <option *ngFor="let historyTable of historyTables" value="{{historyTable.name}}">
                              {{historyTable.name}}
                          </select>
                        </div>
                      </div>
                      <div class="col-md-3" *ngIf="form.get('dataBaseTableConfigType').value === dataBaseTableConfigType.TABLE || form.get('dataBaseTableConfigType').value === dataBaseTableConfigType.SCRIPT">
                        <div class="form-group">
                          <label>History Table</label>
                          <input type="text" formControlName="historyTable" class="form-control input-sm" placeholder="History Table" maxlength="50">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row mar-left">
                    <div class="col-md-12 top-large-spc">Data Elements</div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                  <div class="panel-profile cover2 all_form">
                    <div class="col-sm-12 mar-left">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="col-md-3">
                            <div class="form-group">
                              <label class="required">Name</label>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label class=" required lbl6">Type</label>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label class=" required lbl6">Table Column</label>
                            </div>
                          </div>
                          <div class="col-md-1">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngFor=" let dataElement of form.get('dataElements')['controls'] ; let i = index">
                      <div class="col-sm-12 mar-left" formArrayName="dataElements">
                        <div class="row formArray" [formGroupName]="i">
                          <div class="col-md-12">
                            <div class="col-md-3">
                              <div class="form-group">
                                <input type="text" formControlName="name" class="form-control input-sm"
                                       placeholder="text field">
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group ">
                                <select class="form-control input-sm" formControlName="type">
                                  <option value="null" disabled>--Select One--</option>
                                  <option *ngFor="let type of dataElementTypes" value="{{type}}">
                                    {{type}}
                                </select>
                              </div>
                            </div>
                            <div class="col-md-3" *ngIf="form.get('dataBaseTableConfigType').value === dataBaseTableConfigType.EXISTING">
                              <div class="form-group">
                                <select class="form-control input-sm" formControlName="tableColumn" #column
                                        (change)="autoGenrateColName(column.value,i)">
                                  <option value="null" disabled>--Select One--</option>
                                  <option *ngFor="let table of tableColumns" value="{{table}}">
                                    {{table}}
                                </select>
                              </div>
                            </div>
                            <div class="col-md-3" *ngIf="form.get('dataBaseTableConfigType').value === dataBaseTableConfigType.TABLE || form.get('dataBaseTableConfigType').value === dataBaseTableConfigType.SCRIPT">
                              <div class="form-group">
                                <input type="text" formControlName="tableColumn" #tabcol (keyup)="autoGenrateColNameForScript(tabcol.value,i)" class="form-control input-sm"
                                       placeholder="Table Column" maxlength="50">
                              </div>
                            </div>
                            <div class="col-md-1" *ngIf="i > 0">
                              <a href="javascript:void(0);" (click)="removeDataElement(i)"
                                 class="text-danger delete-btn"><i class="fa fa-trash-o"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row bottom-30">
                      <div class="col-sm-12">
                        <div class="col-md-12">
                          <div class="col-md-6">
                            <button type="button" (click)="addDataElement()" class="btn btn-primary add-btn"><i
                              class="fa fa-plus-circle" aria-hidden="true"></i>
                              Add
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
                  <div class="">
                    <div class="col-md-12" align="right">
                      <button type="submit" [ladda]="isLoading" class="btn submit-btn" data-size="s">Submit</button>
                      <a routerLinkActive="active"
                         [routerLink]="['/home/etl', 'master-data-type', {outlets: {'fullBodyOutlet': ['list']}}]" title="">
                        <button type="button" class="btn btn-primary cancel-btn">Cancel</button>
                      </a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <!-- END MAIN CONTENT -->
</div>
