<div class="panel panel-heading newhead newbg">
  <h4 class="modal-title">Transaction Detail</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div *ngIf="!showTransactionTable" align="center">Data Not Available.</div>
    <div class="col-md-12 spc-bottom" *ngIf="showTransactionTable">
      <table class="table table-bordered table-align">
        <thead>
        <tr>
          <th scope="col">Field</th>
          <th scope="col">Value</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let dataElement of dataSourceRecord">
          <td>{{dataElement.name}}</td>
          <td>{{dataElement.value}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary cancel-btn" (click)="close()"
          data-dismiss="modal">
    Close
  </button>
</div>
