<div class="panel panel-profile">
  <div class="clearfix">
    <div class="panel panel-heading newhead newbg">
      <h4>LookUp Provider Details</h4> </div>
    <div class="panel-profile border-none2 cover3">
      <div class="row form-inner-cover">
        <div class="col-md-12 rowbg">
          <div class="col-md-6">
            <div class="form-inline">
              <label class="">Id</label> : <span>{{lookUpProviders?.lookUpProviderId}}</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-inline">
              <label class="">Name</label> : <span>{{lookUpProviders?.lookUpProviderName}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END TABBED CONTENT -->
  </div>
</div>
