<form [formGroup]="form">
  <div class="panel panel-heading newhead newbg">
    <h4 class="modal-title">Raise Pre Arbitration</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <label>Proof (Upload Doc)(only jpg, pdf, csv allowed)</label>
        <app-file-input accept=".jpg,.jpeg,.pdf,.csv" (onFileSelect)="fileChangeEvent($event)"></app-file-input>
      </div>
      <div class="col-md-12">
        <label>Remarks:</label>
        <textarea class="form-control" formControlName="additionalDetails" maxlength="500"></textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="submit-btn" data-size="s" [ladda]="isLoading"
            (click)="processSubmit()">Submit
    </button>
    <button type="button" class="btn btn-primary cancel-btn" (click)="close()" data-dismiss="modal">
      Cancel
    </button>
  </div>
</form>
