

<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="container-fluid">
      <div class="panel">
        <div class="panel-heading newbg">
          <h3 class="panel-title">Dispute Detail</h3>
        </div>

        <div class="panel-body" *ngIf="dispute && dispute.id">
          <div class="row detailpage">
            <div class="col-md-4">
              <div class="form-inline">
                <label>Transction Id</label> : <span>
                {{dispute.transactionId}}
              </span>
              </div>
            </div>
              <div class="col-md-4">
                <div class="form-inline">
                  <label>Txn Date & Time</label> :
                  <span>{{dispute.transactionDateAndTime | date: 'dd-MM-yyyy hh:mm'}}</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-inline">
                  <label>Kit No</label> : <span>
                  {{dispute.kitNumber}}
                </span>
                </div>
              </div>
          </div>
          <div class="row detailpage">
              <div class="col-md-4">
                <div class="form-inline">
                  <label>Merchant Id</label> : <span>
                  {{dispute.merchantId}}
                </span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-inline">
                  <label>Merchant Name</label> : <span>
                  {{dispute.merchantName}}
                </span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-inline">
                  <label>Settlement Date</label> : <span>
                  {{dispute.settlementDate | date: 'dd-MM-yyyy'}}
                </span>
                </div>
              </div>
          </div>
        <div class="row detailpage">
            <div class="col-md-4">
              <div class="form-inline">
                <label>Settlement Status</label> : <span>
                {{dispute.settlementStatus}}
              </span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-inline">
                <label>Network Data</label> : <span>
                {{dispute.networkData}}
              </span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-inline">
                <label>RRN</label> : <span>
                {{dispute.rrn}}
              </span>
              </div>
            </div>
          </div>
        <div class="row detailpage">
            <div class="col-md-4">
              <div class="form-inline">
                <label>Transaction Amount</label> : <span>
                {{dispute.transactionAmount}}
              </span>
              </div>
            </div>
           <div class="col-md-4">
              <div class="form-inline">
                <label>Billing Amount</label> : <span>
                {{dispute.billingAmount}}
              </span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-inline">
                <label>Settlement Amount</label> : <span>
                {{dispute.settlementAmount}}
              </span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-inline">
                <label>Auth Id</label> : <span>
                {{dispute.authId}}
              </span>
              </div>
            </div>
          </div>

          <div class="row detailpage">
            <div class="col-md-4">
              <div class="form-inline">
                <label>Raised By</label> : <span>
                {{dispute.raisedBy}}
              </span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-inline">
                <label>Requested On</label> : <span>
                {{dispute.createdOn | date:'dd-MM-yyyy hh:mm a'}}
              </span>
              </div>
            </div>
              </div>
          <div class="row detailpage" *ngIf="dispute.customerName || dispute.customerEmail || dispute.customerTelephone">
            <div class="col-md-4">
              <div class="form-inline">
                <label>Customer Name</label> : <span>
                {{dispute.customerName}}
              </span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-inline">
                <label>Customer Mobile</label> : <span>
                {{dispute.customerTelephone}}
              </span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-inline">
                <label>Customer Email</label> : <span>
                {{dispute.customerEmail}}
              </span>
              </div>
            </div>
            <div class="col-md-4" *ngIf="dispute.customerDocumentFileName && dispute.customerDocumentFilePath">
              <div class="form-inline">
                <label>Customer Document</label> : <span>
                            <a (click)="onDownload(dispute.customerDocumentFileName, dispute.customerDocumentFilePath)" href="javascript:void(0)">
                              <i aria-hidden="true" class="fa fa-download"></i>
                            </a>
                          {{dispute.customerDocumentFileName}}
                        </span>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-inline">
                <label>Customer Address</label> : <span>
                {{dispute.customerAddress}}
              </span>
              </div>
            </div>
          </div>
          <div class="row detailpage">
            <div class="col-md-4">
              <div class="form-inline">
                <label>Dispute Amount</label> : <span>
                {{dispute.disputeAmount}}
              </span>
              </div>
            </div>
            <div class="col-md-4" *ngIf="dispute.ticketNumber">
              <div class="form-inline">
                <label>Ticket Number</label> : <span>
                {{dispute.ticketNumber}}
              </span>
              </div>
            </div>
            <div class="col-md-4" *ngIf="dispute.reversalDocumentFileName && dispute.reversalDocumentFilePath">
              <div class="form-inline">
                <label>Reversal Document</label> : <span>
                            <a (click)="onDownload(dispute.reversalDocumentFileName, dispute.reversalDocumentFilePath)" href="javascript:void(0)">
                              <i aria-hidden="true" class="fa fa-download"></i>
                            </a>
                          {{dispute.reversalDocumentFileName}}
                        </span>
              </div>
            </div>
          </div>
        <div class="row detailpage">
            <div class="col-md-4" *ngIf="dispute.disputeCategory && dispute.disputeCategory.name">
              <div class="form-inline">
                <label>Dispute Category</label> : <span>
                {{(dispute.disputeCategory && dispute.disputeCategory.name) ? dispute.disputeCategory.name : ''}}
              </span>
              </div>
            </div>
            <div class="col-md-4" *ngIf="dispute.disputeType && dispute.disputeType.name">
              <div class="form-inline">
                <label>Dispute Type</label> : <span>
                {{(dispute.disputeType && dispute.disputeType.name) ? dispute.disputeType.name : ''}}
              </span>
              </div>
            </div>
            <div class="col-md-4" *ngIf="dispute.issueType">
              <div class="form-inline">
                <label>Issue Type</label> : <span>
                {{dispute.issueType}}
              </span>
              </div>
            </div>
            <div class="col-md-4" *ngIf="dispute.disputeReason">
              <div class="form-inline">
                <label>Dispute Reason</label> : <span>
                {{dispute.disputeReason}}
              </span>
              </div>
          </div>

          </div>
          <div class="row detailpage">
            <div class="col-md-4" *ngIf="dispute.firFileName && dispute.firFilePath">
              <div class="form-inline">
                <label>FIR Copy</label> : <span>
                <a (click)="onDownload(dispute.firFileName, dispute.firFilePath)" href="javascript:void(0)">
                  <i aria-hidden="true" class="fa fa-download"></i>
                </a>
                {{dispute.firFileName}}
              </span>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-inline">
                <label>Status</label> : <span>
                {{dispute.status}}
              </span>
              </div>
            </div>
          </div>
          <div class="row detailpage" *ngIf="dispute.refundStatus && !hasRoleM2p">
            <div class="col-md-4" *ngIf="dispute.refundStatus">
              <div class="form-inline">
                <label>Refund Status</label> : <span>
                {{dispute.refundStatus}}
              </span>
              </div>
            </div>
            <div class="col-md-4" *ngIf="dispute.refundAmount">
              <div class="form-inline">
                <label>Dispute Refund Amount</label> : <span>
                {{dispute.refundAmount}}
                </span>
              </div>
            </div>
            <div class="col-md-4" *ngIf="dispute.refundProcessedOn">
              <div class="form-inline">
                <label>Refund Proccessed On</label> : <span>
                {{dispute.refundProcessedOn | date: 'dd-MM-yyyy'}}
                </span>
              </div>
            </div>
            <div class="col-md-4" *ngIf="dispute.txnReferenceNumber && dispute.refundAmount">
              <div class="form-inline">
                <label>Txn Reference Number</label> : <span>
                {{dispute.txnReferenceNumber}}
                </span>
              </div>
            </div>
          </div>
          <div class="row detailpage" *ngIf="dispute.cbTatExpiryDate || dispute.cbSliceRaisedDate || dispute.cbM2PRaisedDate">
            <div class="col-md-4" *ngIf="dispute.cbSliceRaisedDate">
              <div class="form-inline">
                <label>Raised by Slice Date</label> : <span>
                          {{dispute.cbSliceRaisedDate | date: 'dd-MM-yyyy'}}
                        </span>
              </div>
            </div>
            <div class="col-md-4" *ngIf="dispute.cbM2PRaisedDate">
              <div class="form-inline">
                <label>Raised by M2P Date</label> : <span>
                          {{dispute.cbM2PRaisedDate | date:'dd-MM-yyyy hh:mm a'}}
                        </span>
              </div>
            </div>
            <div class="col-md-4" *ngIf="dispute.cbTatExpiryDate">
              <div class="form-inline">
                <label>TAT Expiry Date</label> : <span>
                          {{dispute.cbTatExpiryDate | date: 'dd-MM-yyyy'}}
                        </span>
              </div>
            </div>
          </div>
        <div class="all-cover-new-member-request">
            <div class="custom-tabs-line tabs-line-bottom left-aligned">
              <ul class="nav" role="tablist">
                  <li class="active"><a href="#dispute-detail-formatted-reply" role="tab" data-toggle="tab">Formatted Reply</a></li>
                  <li><a href="#dispute-detail-merchant-response" role="tab" data-toggle="tab">Merchant Response</a></li>
                  <li><a href="#dispute-detail-advance-refund" role="tab" data-toggle="tab" *ngIf="!hasRoleM2p">Advance Refund</a></li>
                  <li><a href="#dispute-detail-closed" role="tab" data-toggle="tab">Dispute Closed Detail</a></li>
                  <li><a href="#dispute-detail-history" role="tab" data-toggle="tab">History</a></li>
              </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane tab-pane2 fade cover2 in active" id="dispute-detail-formatted-reply">
                  <div class="panel-body">
                    <div class="row detailpage" *ngIf="dispute.formattedReplyDate || (dispute.formattedReplyFileName && dispute.formattedReplyFilePath)">
                      <div class="col-md-4" *ngIf="dispute.formattedReplyDate">
                        <div class="form-inline">
                          <label>Formatted Reply Date</label> : <span>
                          {{dispute.formattedReplyDate | date: 'dd-MM-yyyy'}}
                        </span>
                        </div>
                      </div>
                      <div class="col-md-8" *ngIf="dispute.formattedReplyFileName && dispute.formattedReplyFilePath">
                        <div class="form-inline">
                          <label class="col-3">Formatted Reply (Attachment)</label> : <span>
                            <a (click)="onDownload(dispute.formattedReplyFileName, dispute.formattedReplyFilePath)" href="javascript:void(0)">
                              <i aria-hidden="true" class="fa fa-download"></i>
                            </a>
                          {{dispute.formattedReplyFileName}}
                        </span>
                        </div>
                      </div>
                    </div>
                    <div class="row" *ngIf="!(dispute.formattedReplyDate || (dispute.formattedReplyFileName && dispute.formattedReplyFilePath))">
                      <label>Formatted Reply data not available.</label>
                    </div>
                  </div>
                </div>
                <div class="tab-pane tab-pane2 fade cover2" id="dispute-detail-merchant-response">
                  <div class="panel-body">
                    <div class="row detailpage" *ngIf="dispute.merchantRespondedOn || dispute.merchantResponse || dispute.merchantProofFilePath">
                      <div class="col-md-4" *ngIf="dispute.merchantResponse">
                        <div class="form-inline">
                          <label>Merchant Response</label> : <span>
                          {{dispute.merchantResponse}}
                        </span>
                        </div>
                      </div>
                      <div class="col-md-4" *ngIf="dispute.merchantRespondedOn">
                        <div class="form-inline">
                          <label>Response Date</label> : <span>
                          {{dispute.merchantRespondedOn | date: 'dd-MM-yyyy'}}
                        </span>
                        </div>
                      </div>
                      <div class="col-md-4" *ngIf="dispute.merchantProofFiles.length > 0">
                        <div class="form-inline">
                          <label>Merchant Proof (Attachment)</label> :
                          <span *ngFor="let file of dispute.merchantProofFiles" style="white-space: nowrap;display:block;">
                            <a (click)="onDownload(file.merchantProofFileName, file.merchantProofFilePath)" href="javascript:void(0)">
                              <i aria-hidden="true" class="fa fa-download"></i>
                            </a>
                          {{file.merchantProofFileName}}
                        </span>
                        </div>
                      </div>
                    </div>
                    <div class="row" *ngIf="!(dispute.merchantRespondedOn || dispute.merchantResponse || dispute.merchantProofFilePath)">
                     <label>Merchant response not submitted.</label>
                    </div>
                  </div>
                </div>
                <div class="tab-pane tab-pane2 fade cover2" id="dispute-detail-advance-refund">
                  <div class="panel-body">
                    <div class="row detailpage" *ngIf="dispute.advanceAmount || dispute.advanceDate">
                      <div class="col-md-4" *ngIf="dispute.advanceAmount">
                        <div class="form-inline">
                          <label>Advance Amount</label> : <span>
                          {{dispute.advanceAmount}}
                        </span>
                        </div>
                      </div>
                      <div class="col-md-4" *ngIf="dispute.advanceDate">
                        <div class="form-inline">
                          <label>Advance Date</label> : <span>
                          {{dispute.advanceDate | date: 'dd-MM-yyyy'}}
                        </span>
                        </div>
                      </div>
                      <div class="col-md-4" *ngIf="dispute.advanceRefundFileName && dispute.advanceRefundFilePath">
                        <div class="form-inline">
                          <label>Advance Refund Proof (Attachment)</label> : <span>
                            <a (click)="onDownload(dispute.advanceRefundFileName, dispute.advanceRefundFilePath)" href="javascript:void(0)">
                              <i aria-hidden="true" class="fa fa-download"></i>
                            </a>
                          {{dispute.advanceRefundFileName}}
                        </span>
                        </div>
                      </div>
                      <div class="col-md-4" *ngIf="dispute.txnReferenceNumber">
                        <div class="form-inline">
                          <label>Txn Reference Number</label> : <span>
                {{dispute.txnReferenceNumber}}
                </span>
                        </div>
                      </div>
                    </div>
                    <div class="row" *ngIf="!(dispute.advanceAmount || dispute.advanceDate)">
                     <label>Advance refund not given.</label>
                    </div>
                  </div>
                </div>
                <div class="tab-pane tab-pane2 fade cover2" id="dispute-detail-closed">
                  <div class="panel-body">
                    <div class="row detailpage" *ngIf="dispute.reversalAmount || dispute.reversalDate">
                      <div class="col-md-4" *ngIf="dispute.reversalAmount">
                        <div class="form-inline">
                          <label>Refund / Reversal Amount</label> : <span>
                          {{dispute.reversalAmount}}
                        </span>
                        </div>
                      </div>
                      <div class="col-md-4" *ngIf="dispute.reversalDate">
                        <div class="form-inline">
                          <label>Refund / Reversal Date</label> : <span>
                          {{dispute.reversalDate | date: 'dd-MM-yyyy'}}
                        </span>
                        </div>
                      </div>
                      <div class="col-md-4" *ngIf="dispute.solvedTicketReason">
                        <div class="form-inline">
                          <label>Solved Ticket Reason</label> : <span>
                          {{dispute.solvedTicketReason}}
                        </span>
                        </div>
                      </div>
                    </div>
                    <div class="row" *ngIf="!(dispute.reversalAmount || dispute.reversalDate)">
                     <label>Dispute not closed.</label>
                    </div>
                  </div>
                </div>
                <div class="tab-pane tab-pane2 fade cover2" id="dispute-detail-history">
                <div class="row">
                  <div class="col-md-12">
                    <table *ngIf="disputeHistory.length>0" class="table ">
                      <thead>
                      <tr>
                        <th width="15%"><b>Date</b></th>
                        <th width="17%"><b>User</b></th>
                        <th><b>Activity</b></th>
                        <th><b>Remark</b></th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let history of disputeHistory" >
                        <td>{{history.transitionOn | date:'MMM dd yyyy, hh:mm a'}}</td>
                        <td>{{history.performedBy}}</td>
                          <td>{{history.activity}}</td>
                        <td>{{history.remark}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">

              <div class="col-md-12" align="right">
                  <button type="button" class="btn submit-btn" *ngIf="dispute && !dispute.isReversalDispute && !dispute.isDualDispute" [disabled]="!(dispute && dispute.id)"  (click)="export()">Consumer Dispute Form</button>
                  <button type="button" class="btn submit-btn" [disabled]="!(dispute && dispute.id)"  (click)="downloadAll()" *ngIf="hasRoleCardOps || hasRoleM2p">Download all docs</button>
                  <!-- <button type="button" class="btn submit-btn" [disabled]="!(dispute && dispute.id)"  (click)="onHistory()" *ngIf="hasRoleCX || hasRoleCardOps">View Trxn History</button> -->
                  <button type="button" class="btn submit-btn" [disabled]="!(dispute && dispute.id)"  (click)="onProcess()" *ngIf="hasRoleCardOps || hasRoleM2p">Update Merchant Response</button>
                  <button type="button" class="btn submit-btn" [disabled]="!(dispute && dispute.id)"  (click)="onRaiseByM2P()" *ngIf="hasRoleCardOps || hasRoleM2p">M2P Raise Date</button>
                  <button type="button" class="btn submit-btn" [disabled]="!(dispute && dispute.id)" (click)="onTransactionClick()" *ngIf="hasRoleM2p">View Trxns Detail</button>
                  <!--<button type="button" class="btn submit-btn" [disabled]="!(dispute && dispute.id)"  (click)="onDocument()" *ngIf="hasRoleCX || hasRoleCardOps">Add Document</button>-->
                  <button type="button" class="btn submit-btn" [disabled]="!(dispute && dispute.id)" (click)="onSendForApproval()" *ngIf="hasRoleCX || hasRoleCardOps">Send for Approval</button>
                  <button type="button" class="btn submit-btn" [disabled]="!(dispute && dispute.id)" (click)="onApprove()" *ngIf="hasRoleCardOps">Approve</button>
                  <button type="button" class="btn submit-btn" [disabled]="!(dispute && dispute.id)" (click)="onReject()" *ngIf="hasRoleCardOps || hasRoleM2p">Reject</button>
                  <button type="button" class="btn submit-btn" [disabled]="!(dispute && dispute.id)" (click)="onCloseDispute()" *ngIf="hasRoleCX || hasRoleCardOps">Close Dispute</button>
                  <button type="button" class="btn submit-btn" [disabled]="!(dispute && dispute.id)" (click)="onAdvancePayment()" *ngIf="hasRoleCX || hasRoleCardOps">Advance Refund</button>
                  <button type="button" class="btn submit-btn" [disabled]="!(dispute && dispute.id)" (click)="onRefundProcess()" *ngIf="hasRoleCX || hasRoleCardOps">Refund Process</button>
                  <button type="button" class="btn submit-btn top-spc" [disabled]="!(dispute && dispute.id)" (click)="onRaisePreArb()" *ngIf="dispute && dispute.stage === 'CHARGE_BACK' && (hasRoleCX || hasRoleCardOps)">Raise Pre Arb</button>
                  <button type="button" (click)="backClick()" class="btn submit-btn top-spc">Back</button>
              </div>

            </div>
          </div>
        </div>
       </div>

  </div>
    </div>
  </div>
