<div class="panel panel-profile all-panel-align">
  <div class="clearfix">

    <table class="table table-hover table-inner-align privilege-table-cover">
      <tbody>
      <tr>
        <th class="newbg">Master Data Source</th>
      </tr>
      <tr *ngFor="let masterData of masterDatas ; let i = index" (click)="select(i)"  [ngClass]="{'active': selectedIndex == i  }">
        <td><a href="javascript:void(0);" (click)="showMasterDataView(masterData.id)" class="active"><div>{{masterData.name}}</div></a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
