<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="container-fluid left-pad2 right-pad2">

      <div class="panel">
        <div class="panel-heading newbg">
          <h3 class="panel-title">{{isEditMode === true ? 'Edit Rule Group' : 'New Rule Group'}}</h3>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="panel-body">

            <div class="panel panel-profile border-none cover2">
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-3">
                    <div class="form-group inline-label-align">
                      <label class="required">Name</label>
                      <input type="text" formControlName="name" class="form-control input-sm" placeholder="Name">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group ">
                      <label class="required">Short Name</label>
                      <input type="text" formControlName="shortName" class="form-control input-sm"
                             placeholder="Short Name">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group inline-label-align radio-label">
                      <div class="row">
                        <div class="col-md-12">
                          <label class="required">Relax Match : </label>
                        </div>
                      </div>
                      <label class="fancy-radio">
                        <input type="radio" formControlName="relaxMatch" value="true">
                        <span><i></i>Yes</span>
                      </label>
                      <label class="fancy-radio">
                        <input type="radio" formControlName="relaxMatch" value="false">
                        <span><i></i>No</span>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-3" formGroupName="module">
                    <div class="form-group ">
                      <label class="required">Module</label>
                      <select class="form-control input-sm" #parentModule formControlName="id"
                              (change)="onModuleSelect(parentModule.value)">
                        <option value="null" disabled>--Select One--</option>
                        <option *ngFor="let parentModule of modules" value="{{parentModule.id}}">
                          {{parentModule.name}}
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="required">Recon</label>
                      <select class="form-control input-sm" formControlName="reconId" #recon
                              (change)="onReconSelect(recon.value)">
                        <option value="null" disabled>--Select One--</option>
                        <option *ngFor="let recon of recons" value="{{recon.id}}">
                          {{recon.name}}
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">

                <div class="col-md-12">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="required">Description</label>
                      <textarea formControlName="discription" class="form-control" maxlength="500"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12"><h4>Rules </h4></div>
            </div>

            <div class="panel panel-profile border-none cover2 all_form">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="required">Rule</label>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="required">Rule Type</label>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label class=" required lbl6">Execution Order</label>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="">Multiple Execution</label>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <div *ngFor=" let ruleForm of form.get('rules')['controls'] ; let i = index">
                <div class="col-sm-12" formArrayName="rules">
                  <div class="row formArray" [formGroupName]="i">
                    <div class="col-md-12">
                      <div class="col-md-3">
                        <div class="form-group" formGroupName="rule">
                          <select class="form-control input-sm" #rule formControlName="id"
                                  (change)="onRuleSelect(rule.value,i)">
                            <option value="null" disabled>--Select One--</option>
                            <option *ngFor="let rule of rules" value="{{rule.id}}">
                              {{rule.name}}
                          </select>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group ">
                          <input type="text" formControlName="ruleType"
                                 class="form-control input-sm"
                                 placeholder="Rule Type">
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group ">
                          <select class="form-control input-sm" formControlName="executionOrder">
                            <option value="null" disabled>--Select One--</option>
                            <option *ngFor="let number of numbers" value="{{number}}">
                              {{number}}
                          </select>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <input type="checkbox"
                               formControlName="runMultipleTimes"  [value]="">
                      </div>
                      <div class="col-md-1">
                        <a href="javascript:void(0);" (click)="removeDataElement(i)"
                           class="text-danger delete-btn"><i class="fa fa-trash-o"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row bottom-30">
                <div class="col-sm-12">
                  <div class="col-md-12">
                    <div class="col-md-6">
                      <button type="button" (click)="addDataElement()" class="btn btn-primary add-btn"><i
                        class="fa fa-plus-circle" aria-hidden="true"></i> Add
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="col-md-12" align="right">
                  <button type="submit" class="submit-btn" data-size="s" [ladda]="isLoading">
                    {{isEditMode===true?'Update':'Submit'}}
                  </button>
                  <button type="button"
                          [routerLink]="['/home/recon', 'rule-group', {outlets: {'fullBodyOutlet': ['list']}}]"
                          class="btn btn-primary cancel-btn">Cancel
                  </button>
                </div>
              </div>
            </div>

          </div>
        </form>
      </div>

    </div>
  </div>
  <!-- END MAIN CONTENT -->
</div>
