<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 right-pad left-pad2">
          <div class="panel panel-profile panel_height">
            <div class="clearfix">
              <table class="table table-hover table-inner-align privilege-table-cover">
                <tbody>
                <tr>
                  <th class="newbg">Privilege Types<a href=""></a></th>
                </tr>
                <tr *ngFor="let privilege of role.privilege; let i = index" (click)="select(i)"
                    [ngClass]="{'active': selectedIndex == i  }">
                  <td>
                    <a [href]="'#'+privilege.name" data-toggle="tab">{{privilege.name}}</a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-9 right-pad2 left-pad2">
          <div class="tab-content panel panel-profile">
            <div class="panel panel-heading newhead newbg"><h4>Privileges</h4></div>
            <div class="col-md-12 top-spc">
              <div class="col-md-5 right-margin">
                <label><b>Role :</b></label>
                <strong>{{role.roleName}}</strong>
              </div>
            </div>
            <div *ngFor="let privilege of role.privilege; let i = index" [ngClass]="{'active':  i === 0 }"
                 class="tab-pane" [id]="privilege.name">
              <div class="panel-body all_form">
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-6" *ngFor="let privilegeMenu of privilege.privilegeMenu; let i = index">
                      <div class="form-group checkbox-space">
                        <input type="checkbox"
                               (click)="updatePrivilege($event)"
                               [value]="privilegeMenu.menuId"
                               [attr.checked]="privilegeMenu.checked ? 'checked' : null"><label>{{privilegeMenu.name}}</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12" align="right">
                  <button (click)="submitForm()" data-size="s" type="submit" class="submit-btn" [ladda]="isLoading">
                    Submit
                  </button>
                  <button type="button" (click)="cancel()" class="btn btn-primary cancel-btn">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END MAIN CONTENT -->
</div>


