<div class="panel-heading newhead newbgpopup">
  <div class="row">
    <div class="col-md-4">
      <h4><b> Assign To</b></h4>
    </div>
  </div>
</div>
<div class="panel-body">
  <div class="col-md-12 top-spc20">
    <div class="form-group">
      <div class="col-md-2">
        <label>Role :</label>
      </div>
      <div class="col-md-6">
        <select class="form-control input-sm" #role (change)="onRoleChange(role.value)">
          <option value='0'>Select One</option>
          <option *ngFor="let role of roles" value="{{role.id}}">
            {{role.name}}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-md-12 top-spc20" align="right">
      <button align="right" type="button" (click)="onAssignSubmit()" class="btn submit-btn">Submit</button>
      <button align="right" type="button" (click)="close()" class="btn cancel-btn">Cancel</button>
  </div>
</div>
