
<html lang="en" class="fullscreen-bg">

<body>
<!-- WRAPPER -->
<div id="wrapper">
  <div class="vertical-align-wrap">
    <div class="vertical-align-middle">
      <div class="auth-box ">
        <div class="left">
          <div class="content">

        <!--    <div class="header">
              <div class="logo text-center"><img src="assets/images/bee-recon3.png" alt="Klorofil Logo"></div>
              <p class="lead">Change Password</p>
            </div>-->
  <!--          <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" role="reset-password">
              <img src="assets/images/bee-recon3.png">
              <div class="col-md-12">
              <label class="required left">Email</label>
              </div>
              <input type="email" formControlName="userName" placeholder="Email" class="form-control input-sm"/>
              <button type="submit" [ladda]="isLoading" class="login-btn"><i class="margin-right" aria-hidden="true"></i>Submit</button>
            </form>-->
            <div class="header" style="margin-top: 5%">
              <div class="logo text-center"><img src="assets/images/bee-recon3.png" alt="Klorofil Logo"></div>
            </div>
            <small class="left-align">Enter your email address and we'll send you instructions</small><br>
            <small class="left-align">to reset your password.</small>
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" role="login" class="top-spc50">
              <div class="form-group">
                <label class="left-align required">Email Address</label>
                <input type="email" class="form-control" formControlName="userName" id="signin-email"
                       placeholder="Email"/>
              </div>
              <div class="row top-spc20">
                <div class="col-md-6"></div>
                <button type="submit" [ladda]="isLoading" class="btn submit-btn">submit</button>
                <button type="submit" (click)="cancel()"  class="btn cancel-btn">Cancel</button>
              </div>
            </form>
          </div>
        </div>
        <div class="right">
          <div class="overlay"></div>
          <div class="content text" align="center">
            <h1 class="heading">Data Reconciliation</h1>
            <p></p>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<!-- END WRAPPER -->
</body>
</html>

