<div class="panel-heading newhead newbgpopup">
  <div class="row">
    <div class="col-md-4">
      <h4><b> New Pipeline</b></h4>
    </div>
  </div>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="panel-body">
    <div class="col-md-12 top-spc20">
      <div class="form-group">
        <div class="col-md-2">
          <label class="required">Module :</label>
        </div>
        <div class="col-md-6">
          <angular2-multiselect [data]="modules" [settings]="dropDownSettings" formControlName="title">
          </angular2-multiselect>
        </div>

      </div>
    </div>
    <div class="col-md-12 top-spc20">
      <div class="form-group">
        <div class="col-md-2">
          <label class="required">Name :</label>
        </div>
        <div class="col-md-6">
          <input type="text" formControlName="description" class="form-control">
        </div>
      </div>
    </div>
    <div class="col-md-12 top-spc20" align="right">
      <button align="right" type="button" (click)="onSubmit()" class="btn submit-btn">Submit</button>
      <button align="right" type="button" (click)="close()" class="btn cancel-btn">Cancel</button>
    </div>
  </div>
</form>
