<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="container-fluid ">
      <div class="row">

        <div class="panel panel-profile">
          <div class="clearfix">
            <div class="panel panel-heading newhead newbg">
              <div class="row">
                <div class="col-md-6 innerheadsource">
                  <h4>{{pipelineInfo.description}}</h4>
                </div>
                <div class="col-md-6" align="right">
                  <i *ngIf="pipelineInfo?.pipelineId"
                     [routerLink]="['/home/etl', 'pipeline', {outlets: {'fullBodyOutlet': ['logs',pipelineInfo?.pipelineId,'detail']}}]"
                     class="fa fa-file-text fa-14x etl-error-btn tooltip-i" aria-hidden="true"><span
                    class="tooltiptext tooltip-bottom ">View Logs</span>
                  </i>
                  <button *ngIf="showPipelineDetails" type="button"
                          [routerLink]="['/home/etl', 'pipeline', {outlets: {'fullBodyOutlet': ['edit']}}]"
                          [queryParams]="{pipelineId: pipelineInfo.pipelineId}" class="btn btn-primary etl-submit-btn"
                          data-size="s">
                    Edit
                  </button>
                  <button type="button"
                          [routerLink]="['/home/etl', 'pipeline', {outlets: {'fullBodyOutlet': ['list']}}]"
                          class="btn btn-primary etl-cancel-btn"
                          data-size="s">
                    Back
                  </button>
                </div>
              </div>
            </div>

            <div class="panel panel-profile border-none2 cover3 containerr">
              <div class="row">
                <div dndDropzone (dndDrop)="onDrop($event,selectedStages)"
                     [dndList]="{allowedTypes: dndAllowedTypes}"
                     [dndModel]="selectedStages"
                     class="wrapper" style="height: 83%">
                  <div #nodeArea id="nodeArea" class="node-editor"></div>
                </div>
              </div>
            </div>
            <form autocomplete="off" [formGroup]="formGroup">
              <div class="custom-tabs-line tabs-line-bottom left-aligned">
                <!-- <div class="col-md-8">-->
                <ul *ngIf="showPipelineDetails" class="nav" role="tablist">
                  <li class="active"><a href="#tab-general-config" role="tab" data-toggle="tab">PipeLine</a></li>
                  <li><a class="inactive" href="#tab-parameter-config" role="tab"
                         data-toggle="tab">{{selectedStageConfig?.label}}</a></li>
                </ul>
              </div>
              <div class="tab-content right-pro-panel">
                <div class="tab-pane tab-pane3 top-spc fade in active" id="tab-general-config">
                  <div class="col-md-12">

                    <div class="parabottomspc">
                      <div class="col-md-8">
                        <dynamic-bootstrap-form *ngIf="showPipelineDetails" [group]="formGroup"
                                                [layout]="formLayout"
                                                (change)="onFormChange($event)"
                                                [model]="pipelineGernalFormModel">
                        </dynamic-bootstrap-form>

                      </div>
                    </div>

                  </div>
                </div>
                <div class="tab-pane tab-pane3 top-spc fade in active"
                     id="tab-parameter-config">

                  <div class="row">
                    <div *ngIf="editStage?.uiInfo.stageType==='SOURCE'" class="col-md-12">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="fancy-checkbox">
                            <input readonly type="checkbox" [checked]="(editStage.eventLanes.length>0?true:false)"
                                   (change)="onProduceEventChange($event)">
                            <span>Produce Events  </span>
                          </label>
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="col-md-12 ">

                    <div class="parabottomspc">
                      <div class="col-md-8">
                        <dynamic-bootstrap-form [group]="stageFormGroup"
                                                (change)="onStageChange($event)"
                                                [layout]="formLayout"
                                                [model]="stageFormModel">
                          <ng-template *ngFor="let modelId of stageAddMoreButtons" modelId="{{modelId}}"
                                       let-group let-stageIndex="index" let-context="context">
                            <label class="daynamic-lable"
                                   *ngIf="modelId ==='lanePredicates'">{{stageIndex+1}}</label>
                          </ng-template>

                        </dynamic-bootstrap-form>

                      </div>
                    </div>

                  </div>
                </div>
              </div>

            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
