<div class="close-popup-button">
  <button mat-button [mat-dialog-close]="true"><i class="fa fa-times" aria-hidden="true"></i></button>
</div>
<h1 mat-dialog-title class="filter-model-header">{{data.name}} Filters</h1>
<form [formGroup]="form">
  <div mat-dialog-content>
    <div class="panel-body pad-align" *ngIf="data.parameters">
      <div class="row">
        <div class="col-md-12" formArrayName="filters">
          <div class="form-group"
               [formGroupName]="data.parameters.length">
            <label class="fancy-checkbox">
              <input formControlName="value" (click)="onArchivalData($event)" [checked]="false" type="checkbox"
                     class="checkboxSize">
              <span><i></i>View Archived Data</span>
            </label>
          </div>
        </div>

        <div class="col-md-12" *ngFor="let parameter of data.parameters ; let i = index" formArrayName="filters">
          <div [formGroupName]="i">
            <div class="form-group" *ngIf="parameter.inputType === 'TEXT'">
              <label class="">{{parameter.label}} : </label>
              <input type="text" formControlName="value" class="form-control input-sm"
                     placeholder="{{parameter.label}}">
            </div>
            <div class="form-group" *ngIf="parameter.inputType === 'DROPDOWN'">
              <label class="">{{parameter.label}} : </label>
              <select formControlName="value" class="form-control input-sm">
                <option value=""> Search by {{parameter.label}}</option>
                <option *ngFor="let lookUpProvider of parameter.lookUpProviders"
                        value="{{lookUpProvider.provider_key}}">{{lookUpProvider.provider_value}}
                </option>
              </select>
            </div>
            <div class="form-group" *ngIf="parameter.inputType === 'CALENDER'">
              <label class="">{{parameter.label}} : </label>
              <input type="text" bsDatepicker formControlName="value"
                     class="form-control form-control input-sm input-sm2" placeholder="{{parameter.label}}"
                     [bsConfig]="parameter.bsconfigDate" placement="{{parameter.postion}} left">
                     <!--
                     [minDate]="((parameter.dateType=='PAST'||parameter.dateType=='FUTURE') && !isArchiveData)?minDate:null"
                     [maxDate]="((parameter.dateType=='PAST'||parameter.dateType=='FUTURE')  && isArchiveData)?maxDate:null"-->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<div mat-dialog-actions align="start" class="filter-model-footer">
  <button mat-button (click)="onApplyFilter()" [mat-dialog-close]="data" cdkFocusInitial>Apply</button>
  <button mat-button (click)="onRestFilter()">Reset</button>
  <button mat-button (click)="onNoClick()" [mat-dialog-close]="data">Close</button>
</div>
