<div class="panel panel-profile all-panel-align">
  <div class="clearfix">
    <table class="table table-hover table-inner-align2 privilege-table-cover">
      <tbody>
      <tr>
        <th class="newbg">Approvals Types</th>
      </tr>
      <tr *ngFor="let approvalCategory of approvalCategorys; let i = index">
        <td>
            <div class="col-md-12 space-none">
              <a [href]="'#subPagesnew'+i" data-toggle="collapse" class="collapsed"
                 aria-expanded="false">
                                  <span> <i class="fa fa-folder"
                                            aria-hidden="true"></i> {{approvalCategory.name}}</span>
              </a>
              <div [attr.id]="'subPagesnew'+i" class="collapse ">
                <ul class="nav submenualignnew"
                    *ngFor="let subCategory of approvalCategory?.approvalSubCategories;">
                  <li><a href="javascript:void(0);" [ngClass]="{'active': selectedSubCategory.id == subCategory.id  }"
                         (click)="onSubCategotyChange(approvalCategory,subCategory)" class="">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i> {{subCategory.name}}</a>
                  </li>
                </ul>
              </div>
            </div>
       </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

