<div class="panel panel-heading newhead newbg">
  <h4 class="modal-title">All Responses</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12 spc-bottom">
      <table class="table table-bordered table-align">
        <thead>
        <tr>
          <th scope="col">Dispute Id</th>
          <th scope="col">Issuer Id</th>
          <th scope="col">Response</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of viewResponseList">
          <td>{{data.disputeId}}</td>
          <td>{{data.issResId}}</td>
          <td>{{data.response}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary cancel-btn" (click)="close()" data-dismiss="modal">
    Close
  </button>
</div>
