<div class="col-md-12 right-pad2 left-pad2" *ngIf="isEdit">

  <div class="panel panel-heading newhead newbg">
    <div class="row">
      <div class="col-md-6 innerheadsource">
        <h4>Recon Cycle</h4>
      </div>
    </div>
  </div>

  <div class="panel panel-profile">
    <div class="clearfix">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row form-inner-cover">

          <div class="panel-profile cover2">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-3">
                  <label class="lbl required">Module </label>
                  <select formControlName="moduleId"
                          class="form-control input-sm">
                    <option value="null" disabled>--Select One--</option>
                    <option *ngFor="let module of modules" value="{{module.id}}">
                      {{module.name}}
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="col-md-2">
                  <label>Cycle No.</label>
                </div>
                <div class="col-md-3">
                  <label class="required">Start Time </label>
                </div>
                <div class="col-md-3">
                  <label class="required">End Time </label>
                </div>
                <div class="col-md-3">
                  <label class="required">File Avail Time </label>
                </div>
              </div>
            </div>
            <div class="mar-left" *ngFor=" let cycle of form.get('cycles')['controls'] ; let i = index">
              <div class="" formArrayName="cycles">
                <div class=" formArray" [formGroupName]="i">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="col-md-2">
                        <p>{{i+ 1}}</p>
                      </div>
                      <div class="col-md-3">
                        <timepicker [ngModelOptions]="{standalone: true}" [showMeridian]="false"
                                    formControlName="formStartTime"
                                    [showSpinners]="false"></timepicker>
                      </div>
                      <div class="col-md-3">
                        <timepicker [ngModelOptions]="{standalone: true}" [showMeridian]="false"
                                    formControlName="formEndTime"
                                    [showSpinners]="false"></timepicker>
                      </div>
                      <div class="col-md-3">
                        <timepicker [ngModelOptions]="{standalone: true}" [showMeridian]="false"
                                    formControlName="formFileAvailTime"
                                    [showSpinners]="false"></timepicker>
                      </div>
                      <div class="col-sm-1">
                        <a href="javascript:void(0);" (click)="removeCycle(i)"
                           class="text-danger delete-btn"><i class="fa fa-trash-o"></i></a>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mar-left">
              <div class="col-md-6">
                <button type="button" (click)="addCycle()" class="btn btn-primary add-btn"><i
                  class="fa fa-plus-circle" aria-hidden="true"></i>
                  Add Cycle
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-12" align="right">
            <div class="form-group">
              <button [ladda]="isLoading" data-size="s" type="submit" class="submit-btn">Submit</button>
              <button type="button" (click)="cancel()" class="btn btn-primary cancel-btn">Cancel</button>
            </div>
          </div>

        </div>
      </form>

    </div>
  </div>

</div>
<div *ngIf="!isEdit">
  <app-recon-cycle-detail [reconCycleData]="reconCycleData"
                          (editReconCycle)="editReconCycl($event)" (newForm)="openNewForm()"></app-recon-cycle-detail>
</div>
