<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-12 right-pad2 left-pad2">
          <div class="panel panel-profile">
            <div class="panel panel-heading newhead newbg">
              <div class="row">
                <div class="col-md-10 innerheadsource">
                  <h4>Data Source View</h4>
                </div>
                <div class="col-md-2" align="right">
                  <a routerLinkActive="active"
                     [routerLink]="['/home/recon', 'unmatched-transaction-view', {outlets: {'fullBodyOutlet': ['form']}}]"
                     title="">
                    <button type="button" class="btn btn-success new-page-btn"><i class="fa fa-plus-circle"
                                                                                  aria-hidden="true"></i> New
                    </button>
                  </a>
                </div>
              </div>
            </div>
            <div class="">
              <div class="clearfix">
                <div class="row form-inner-cover">
                  <div class="col-md-12 top-spc">
                    <div class="col-md-3 right-margin">
                      <label>Data Source</label>
                      <select class="form-control" #sourece (change)="search(sourece.value, 1)">
                        <option [value]="0">--All--</option>
                        <option *ngFor="let sourece of dataSources" value="{{sourece.id}}">
                          {{sourece.name}}
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-profile panel-top-spc">
            <div class="clearfix">
              <div class="col-md-12 top-spc all-cover-unmatch-transaction-view">
                <table datatable [dtOptions]="dtOptions" class="table table-condensed">
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
<!-- END MAIN CONTENT -->
