<div class="main">
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 right-pad2 left-pad2">
          <div class="panel panel-profile">
            <div class="panel panel-heading newhead newbg">
              <div class="row">
                <div class="col-md-6 innerheadsource">
                  <h4>Users</h4>
                </div>
                <div class="col-md-6" align="right">
                  <a href="assets/users.csv" download>
                    <button type="button" class="btn new-page-btn"><i class="fa fa-download"
                                                                      aria-hidden="true"></i>
                      Download Format
                    </button>
                  </a>
                  <button type="button" (click)="uploadFile()" class="btn new-page-btn"><i class="fa fa-upload"
                                                                                           User-Status
                                                                                           aria-hidden="true"></i>
                    Import
                  </button>
                  <a routerLinkActive="active"
                     [routerLink]="['/home/user/full', 'users', {outlets: {'fullBodyOutlet': ['form']}}]" title="">
                    <button type="button" class="btn new-page-btn"><i class="fa fa-plus-circle"
                                                                      aria-hidden="true"></i> New
                    </button>
                  </a>
                </div>
              </div>
            </div>
            <div class="">
              <div class="clearfix">
                <div class="row form-inner-cover">
                  <div class="col-md-12 top-spc">
                    <div class="col-md-3 right-margin">
                      <label>Name</label>
                      <input type="text" #name (keyup)="search(name.value, 1)" class="form-control"
                             placeholder="name">
                    </div>
                    <div class="col-md-3 right-margin">
                      <label>Mobile Number</label>
                      <input type="text" #mobile (keyup)="search(mobile.value, 3)" class="form-control"
                             placeholder="mobile number">
                    </div>
                    <div class="col-md-3 right-margin">
                      <label>Module</label>
                      <select class="form-control" #module (change)="search(module.value, 4)">
                        <option value="0">--All--</option>
                        <option *ngFor="let module of modules" value="{{module.id}}">
                          {{module.name}}
                      </select>
                    </div>
                    <div class="col-md-3 right-margin">
                      <label>Role</label>
                      <select class="form-control" #role (change)="search(role.value, 5)">
                        <option value="0">--All--</option>
                        <option *ngFor="let role of roles" value="{{role.id}}">
                          {{role.name}}
                      </select>
                    </div>

                    <div class="col-md-3 right-margin">
                      <label>User Type</label>
                      <select class="form-control" #userType (change)="search(userType.value, 6)">
                        <option value="">--All--</option>
                        <option value="false">  Internal </option>
                        <option value="true"> External </option>
                      </select>
                    </div>

                    <div class="col-md-3 right-margin top-spc28">
                      <input formControlName="pendingUsers" (click)="search(''+$event.target.checked, 7)" type="checkbox"
                             class="checkboxSize">
                      <span><i></i>Pending Users</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-profile panel-top-spc">
            <div class="modal" id="User-Status" aria-labelledby="modal-submit-invoice-label">
              <div class="panel" style="width: 33%; height: 20%; margin-left: 33%; margin-top: 7%;border-radius: 25px;
               border: 2px solid #609;">
                <div class="" style="width: 100%; height: 50%; background-color: white;">
                  <div class="panel panel-heading newhead newbg">
                    <div class="row">
                      <div class="col-md-6">
                        <h4><b>{{isUnBlockedPopUp?'Activate user':'Deactivate user'}}</b></h4>
                      </div>
                    </div>
                    <div class="col-md-12 top-spc20">
                      <label *ngIf="isUnBlockedPopUp">Are you sure you want to activate user {{userName}} !</label>
                      <label *ngIf="isBlockedPopUp">Are you sure you want to deactivate user {{userName}} !</label>
                      <label *ngIf="isRejectPopUp">Are you sure you want to reject user {{userName}} !</label>
                    </div>
                    <div align="right" class="col-md-12 top-spc20">
                      <button type="submit" (click)="statusChanged()" class="btn submit-btn">Submit
                      </button>
                      <button type="button" (click)="cancelPop()" class="btn cancel-btn">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix">
              <div class="col-md-12 top-spc all-cover-users">
                <table datatable [dtOptions]="dtOptions" class="table table-condensed">
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
