<div class="col-md-12 right-pad2 left-pad2">
  <div class="panel panel-heading newhead newbg">
    <div class="row">
      <div class="col-md-6 innerheadsource">
        <h4>Recon Cycle</h4>
      </div>
      <div class="col-md-6" align="right" *ngIf="showTable">
        <button type="button" (click)="reconCycleNewForm()" class="btn new-page-btn"><i class="fa fa-plus-circle"
                                                                                        aria-hidden="true"></i> New
        </button>
      </div>
    </div>
  </div>
  <div class="panel panel-profile">
    <div class="clearfix">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel-default colaspe-panel formArray"
             *ngFor=" let cycles of reconCycles ; let i = index">

          <div class="panel-heading border-none padding_none " role="tab" [attr.id]="'heading'+i">
            <h4 class="panel-title">
              <a class="colaspe-inner-panel head-matching-rules" role="button" data-toggle="collapse"
                 data-parent="#accordion" [href]="'#collapse'+i"
                 aria-expanded="false" [attr.aria-controls]="'collapse'+i">
                {{'Module : '+cycles.moduleName}}
              </a>
            </h4>
          </div>
          <div [attr.id]="'collapse'+i" class="panel-collapse collapse" role="tabpanel"
               [attr.aria-labelledby]="'heading'+i">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12 table-responsive2">
                  <table class="table table_spc table-striped">
                    <tr id="heading-colorr">
                      <th>Cycle no</th>
                      <th>Start time</th>
                      <th>End time</th>
                      <th>File Avail time</th>
                    </tr>
                    <tr *ngFor="let cycle of cycles?.cycles">
                      <td>{{cycle.cycleNo}}</td>
                      <td>{{cycle.startTime}}</td>
                      <td>{{cycle.endTime}}</td>
                      <td>{{cycle.fileAvailTime}}</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="col-md-12 spc-bottom" align="right">
                <button (click)="edit(cycles)" data-size="s" type="submit" class="btn submit-btn">Edit</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--<div class="" *ngIf="!showTable">
        <div class="row  top-spc">
          <div class="col-md-12">
            <div class="col-md-4">
              <div class="form-inline">
                <label>Module</label> : <span>{{reconCycle?.moduleName}}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 table-responsive2">
            <table class="table table_spc table-striped">
              <tr id="heading-color">
                <th>Cycle no</th>
                <th>Start time</th>
                <th>End time</th>
                <th>File Avail time</th>
              </tr>
              <tr *ngFor="let cycle of reconCycle?.cycles">
                <td>{{cycle.cycleNo}}</td>
                <td>{{cycle.startTime}}</td>
                <td>{{cycle.endTime}}</td>
                <td>{{cycle.fileAvailTime}}</td>
              </tr>
            </table>
          </div>
        </div>

        <div class="col-md-12 spc-bottom" align="right">
          <button (click)="edit()" data-size="s" type="submit" class="btn submit-btn">Edit</button>
          <button data-size="s" (click)="cancel()" type="button"
                  class="btn cancel-btn">Cancel
          </button>
        </div>
      </div>
      <div class="col-md-12 table-responsive top-spc" *ngIf="showTable">
        <table datatable [dtOptions]="dtOptions" class="table table-condensed">
        </table>
      </div>-->
    </div>
  </div>
</div>


