<div class="col-md-12 left-pad2 right-pad2">
  <div class="panel panel-profile">
    <div class="panel panel-heading newhead newbg iconsize">
      <div class="row">
        <div class="col-md-6 innerheadsource">
          <h3>TAT</h3>
        </div>

        <div class="col-md-6" align="right">
          <a routerLinkActive="active"
             [routerLink]="['/home/disputes/part', 'tat', {outlets: {'bodyOutlet': ['form']}}]"
             title="">
            <button type="button" class="btn new-page-btn"><i class="fa fa-plus-circle" aria-hidden="true"></i>
              New
            </button>
          </a>
        </div>

      </div>
    </div>
    <div class="panel-body panel-body-align">
      <div class="clearfix">
        <div class="row form-inner-cover cover2">
          <div class="col-md-12 top-spc">
            <div class="col-md-3 right-margin">
              <label>Module</label>
              <select class="form-control input-sm" #module (change)="search(module.value, 0)">
                <option [value]="0">--All--</option>
                <option *ngFor="let module of modules" value="{{module.id}}">
                  {{module.name}}
              </select>
            </div>
            <div class="col-md-3 right-margin">
              <label> Type</label>
              <select class="form-control input-sm" #type (change)="search(type.value, 1)">
                <option [value]="0">--All--</option>
                <option *ngFor="let type of approvalTypes" value="{{type.value}}">
                  {{type.name}}
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-profile panel-top-spc">
    <div class="clearfix">
      <div class="col-md-12 top-spc all-cover-disputes">
        <table datatable [dtOptions]="dtOptions" class="table table-condensed">
        </table>
      </div>
    </div>
  </div>
</div>
