<div class="main">
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 left-pad2 right-pad2">
          <div class="panel panel-profile">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="clearfix">
                <!-- TABBED CONTENT -->
                <div class="panel panel-heading newhead newbg"><h4>{{isEditMode?'Edit':'New'}} Invalid Data View</h4>
                </div>
                <div class="panel panel-profile border-none2 cover3">
                  <div class="row form-inner-cover">
                    <div class="col-md-12">
                      <div class="col-md-3">
                        <div formGroupName="invalidData">
                          <label class="required">Invalid Data Source</label>
                          <select formControlName="id" (change)="onDataSourceTypeChange($event.target.value)"
                                  class="form-control input-sm">
                            <option value="">select</option>
                            <option *ngFor="let invalidData of invalidDataSource" value="{{invalidData.id}}">
                              {{invalidData.name}}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="custom-tabs-line tabs-line-bottom left-aligned">
                  <ul class="nav" role="tablist">
                    <li class="active"><a href="#tab-bottom-left1" role="tab" data-toggle="tab">Columns</a></li>
                    <li><a href="#tab-bottom-left2" role="tab" data-toggle="tab">Filters</a></li>
                  </ul>
                </div>
                <div class="tab-content all-cover-etl-invalid-data-view">
                  <div class="tab-pane tab-pane2 fade in active cover2" id="tab-bottom-left1">
                    <div class="row">
                      <div class="col-md-12 ">
                        <div class="col-md-3">
                          <div class="form-group">
                            <label class="required">Label</label>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label class="required">Field Name</label>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Sorter</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row" *ngFor="let tableColumn of form.get('tableColumns')['controls']; let i = index">
                      <div formArrayName="tableColumns">
                        <div class="col-md-12 " [formGroupName]="i">
                          <div class="col-md-3">
                            <div class="form-group">
                              <input formControlName="label" id="label" type="text" class="form-control input-sm">
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <select formControlName="dataElementId" id="fieldName" class="form-control input-sm"
                                      #column
                                      (change)="autoGenrateColName(column.value,i)">
                                <option *ngFor="let masterDataElement of masterDataElements"
                                        value="{{masterDataElement.id}}">{{masterDataElement.name}}
                                </option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <input formControlName="sorter" type="checkbox" class="checkboxSize">
                            </div>
                          </div>
                          <div class="col-sm-1" *ngIf="(i > 0)">
                            <div class="form-group">
                              <a href="javascript:void(0);" (click)="removeTableColumn(i)" class="text-danger mt-4"><i
                                class="fa fa-trash-o"></i></a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="col-md-6">
                          <div class="form-group">
                            <button type="button" (click)="addTableColumn()" class="btn btn-primary add-btn"><i
                              class="fa fa-plus-circle" aria-hidden="true"></i> Add
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane tab-pane2 fade cover2" id="tab-bottom-left2">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="col-md-3">
                          <div class="form-group">
                            <label class="required">Label</label>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label class="required">Field</label>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label class="required">Input Type</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row" *ngFor="let filter of form.get('filters')['controls']; let i = index">
                      <div formArrayName="filters">
                        <div class="col-md-12" [formGroupName]="i">
                          <div class="col-md-3">
                            <div class="form-group">
                              <input formControlName="label" type="text" class="form-control input-sm">
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <select formControlName="fieldName" class="form-control input-sm" #column
                                      (change)="autoGenrateFilterLabel(column.value,i)">
                                <option *ngFor="let masterDataElement of masterDataElements"
                                        value="{{masterDataElement.filedName}}">{{masterDataElement.name}}
                                </option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-2">
                            <div class="form-group">
                              <select formControlName="inputType" class="form-control input-sm">
                                <option value="">select</option>
                                <option value="STRING">String</option>
                                <option value="LONG">Long</option>
                                <option value="INTEGER">Integer</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-sm-1">
                            <div class="form-group">
                              <a href="javascript:void(0);" (click)="removeFilter(i)" class="text-danger mt-4"><i
                                class="fa fa-trash-o"></i></a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="col-md-6">
                          <div class="form-group">
                            <button type="button" (click)="addFilter()" class="btn btn-primary add-btn"><i
                              class="fa fa-plus-circle" aria-hidden="true"></i> Add
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12" align="right">
                  <div class="form-group">
                    <button [ladda]="isLoading" data-size="s" type="submit" class="submit-btn">
                      {{isEditMode?'Update':'Submit'}}
                    </button>
                    <button type="button" (click)="cancel()" class="btn btn-primary cancel-btn">Cancel</button>
                  </div>
                </div>
                <!-- END TABBED CONTENT -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

