<form [formGroup]="form">
  <div class="panel panel-heading newhead newbg">
    <h4 class="modal-title">Invoice Report</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <label class="required">VISA ExpenseOther Charges</label>
        <input type="text" OnlyNumber="true" formControlName="visaExpenseOtherCharges" class="form-control">
      </div>
      <div class="col-md-12">
          <label for="monthPicker">Month</label>
          <input type="month" class="form-control" id="monthPicker" [formControl]="monthYear">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="submit-btn" data-size="s" [ladda]="isLoading" (click)="onSubmit()">Submit </button>
    <button type="button" class="btn btn-primary cancel-btn" (click)="close()" data-dismiss="modal"> Cancel </button>
  </div>
</form>
