<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 right-pad2 left-pad2">
          <div class="panel panel-profile">
            <div class="panel panel-heading newhead newbg">
              <div class="row">
                <div class="col-md-6 innerheadsource">
                  <h4>Ej Viewer</h4>
                </div>
              </div>
            </div>
            <div class="">
              <div class="clearfix">
                <div class="row form-inner-cover">
                  <div class="col-md-12 top-spc">
                    <div class="col-md-3 right-margin">
                      <label>Search</label>
                      <input class="form-control" #searchValue (keyup)="searchText(searchValue.value)"
                             placeholder="search" type="search">
                      <label>{{matchingTextSize}}</label>
                    </div>
                    <div class="col-md-3 right-margin">
                      <div class="form-group">
                        <label>ATM</label>
                        <input type="text" autocomplete="off" class="form-control"
                               id="ledgerName"
                               value=""
                               [(ngModel)]="selectedAtmName"
                               [typeahead]="atmNames"
                               [typeaheadOptionsInScrollableView]="10"
                               (typeaheadOnSelect)="handleResultSelected($event)"
                               placeholder="Activity">
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <div class="checkbox">
                          <label class="top-spc40">Case Sensitive
                            <input type="checkbox" (change)="selectCase($event)" #encrypted class="checkboxSize">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <div class="checkbox">
                          <label class="top-spc40">Word Match
                            <input type="checkbox" (change)="selectWord($event)" #encrypted class="checkboxSize">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 top-spc10 table-responsive">
                    <div class="col-md-12 pad_left_right_none">
                      <div class="panel-profile table-responsive">
                        <div class="row ej-viewer">
                          <span class="col ej-viewer-bold">{{textFile.name}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END MAIN CONTENT -->
  </div>
</div>
