<div class="panel panel-profile all-panel-align">
  <div class="clearfix">

    <table class="table table-hover table-inner-align privilege-table-cover">
      <tbody>
      <tr>
        <th class="newbg">Data Source</th>
      </tr>
      <tr *ngFor="let invData of invalidDataViews; let i = index" (click)="select(i)"  [ngClass]="{'active': selectedIndex == i  }">
        <td><a href="javascript:void(0);" (click)="showInvalidDataView(invData.id)" class="active"><div>{{invData.name}}</div></a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
