<div class="main">

  <div class="main-content">
    <div class="col-md-12 left-pad2 right-pad2">
      <div class="panel panel-profile">
        <div class="panel panel-heading newhead newbg iconsize">
          <div class="row">
            <div class="col-md-6 innerheadsource">
              <h3>Dispute Registration</h3>
            </div>
          </div>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit(false)">
          <div class="panel panel-profile border-none cover2">
            <div class="row form-inner-cover">
              <div class="col-md-12">
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Txn Date & Time: </label>
                    <span class="mar-left">{{form.controls.transactionDateAndTime.value}}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Kit No: </label>
                    <span class="mar-left">{{form.controls.kitNumber.value}}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Merchant Id: </label>
                    <span class="mar-left">{{form.controls.merchantId.value}}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Merchant Name: </label>
                    <span class="mar-left">{{form.controls.merchantName.value}}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Sett Date: </label>
                    <span class="mar-left">{{form.controls.settlementDate.value}}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Sett Status: </label>
                    <span class="mar-left">{{form.controls.settlementStatus.value}}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Network Data: </label>
                    <span class="mar-left">{{form.controls.networkData.value}}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>RRN: </label>
                    <span class="mar-left">{{form.controls.rrn.value}}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Txn Amt: </label>
                    <span class="mar-left">{{form.controls.transactionAmount.value}}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Billing Amt: </label>
                    <span class="mar-left">{{form.controls.billingAmount.value}}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Sett Amt: </label>
                    <span class="mar-left">{{form.controls.settlementAmount.value}}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Txn Code: </label>
                    <span class="mar-left">{{form.controls.transactionCode.value}}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Auth Code: </label>
                    <span class="mar-left">{{form.controls.authId.value}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-profile border-none">
            <div class="clearfix">
              <div class="row form-inner-cover cover2">
                <div class="col-md-12 top-spc radio-label">
                  <label class="required">Stage: </label>
                  <label class="fancy-radio mar-left pad-spc" *ngIf="!stageControl.value || stageControl.value !== 'PRE_ARBITRATION'">
                    <input type="radio" formControlName="stage" value="CHARGE_BACK">
                    <span [title]="cbHoverTitle"><i></i>CHARGEBACK</span>
                  </label>
                  <label class="fancy-radio mar-left pad-spc" *ngIf="!stageControl.value || stageControl.value !== 'PRE_ARBITRATION'">
                    <input type="radio" formControlName="stage" value="GOOD_FAITH">
                    <span [title]="goodFaithHoverTitle"><i></i>GOOD-FAITH</span>
                  </label>
                  <label class="fancy-radio mar-left pad-spc" *ngIf="stageControl.value && stageControl.value === 'PRE_ARBITRATION'">
                    <input type="radio" formControlName="stage" value="PRE_ARBITRATION">
                    <span><i></i>Pre-Arb</span>
                  </label>
                  <label class="mar-left pad-spc" *ngIf="!stageControl.value || stageControl.value !== 'PRE_ARBITRATION'">
                    <span class="text-info">{{trxnTimeMsg}}</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <!--  Customer Personal Details -->
          <div class="panel panel-profile border-none" *ngIf="!isReversalDispute && !isDualDispute">
            <div class="clearfix">
              <div class="row form-inner-cover cover2">
                <div class="col-md-12 top-spc">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="required">Customer Name</label>
                      <input type="text" formControlName="customerName" class="form-control input-sm input-sm2">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="required">Customer Mobile</label>
                      <input type="text" OnlyNumber="true" [allowDecimal]="false" maxlength="10" 
                      formControlName="customerTelephone" class="form-control input-sm input-sm2" />
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="required">Customer Email</label>
                      <input type="text" formControlName="customerEmail" class="form-control input-sm input-sm2" />
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Customer Document (if any)(only jpg, pdf, csv allowed)</label>
                      <div class="chart-download mar-left" id="downloadCustomerAttachment" *ngIf="isEditMode" (click)="onDownload(customerDocumentFileNameControl.value, customerDocumentFilePathControl.value)">
                        <a class="dropdown-toggle icon-menu icon-menu2" data-toggle="dropdown" href="javascript:void(0)">
                          <i aria-hidden="true" class="fa fa-download"></i>
                        </a>
                      </div>
                      <input #file (change)="onCustomerDocumentSelect($event.target.files)" type="file" class="file-upload-btn"
                             accept=".jpg,.jpeg,.pdf,.csv"
                             title="{{ customerDocumentFileNameControl.value ? customerDocumentFileNameControl.value : 'No file chosen' }}" />
                      <input type="text" [value]="customerDocumentFileNameControl.value" class="form-control  input-sm input-sm2"
                             placeholder="Upload file..." id="fileCustomerDocUploadId" />
                    </div>
                  </div>
                  <div class="col-md-12 top-spc">
                    <div class="form-group">
                      <label class="required">Customer Address</label>
                      <textarea class="form-control" formControlName="customerAddress"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-profile border-none">
            <div class="clearfix">
              <div class="row form-inner-cover cover2">
                <div class="col-md-12 top-spc">
                  <div class="col-md-3" *ngIf="!isReversalDispute && !isDualDispute">
                    <div class="form-group">
                      <label class="required">Ticket Number</label>
                      <input type="text" formControlName="ticketNumber"
                             class="form-control input-sm input-sm2"
                             placeholder="">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="required">Dispute Amount</label>
                      <input type="text" OnlyNumber="true" formControlName="disputeAmount"
                             class="form-control input-sm input-sm2"
                             placeholder="">
                    </div>
                  </div>
                  <div class="col-md-3" *ngIf="!isReversalDispute && !isDualDispute">
                    <div class="form-group">
                      <label class="required">Formatted Reply (Upload Doc)(only jpg, pdf, csv allowed)</label>
                      <div class="chart-download mar-left" id="downloadFormattedReplyAttachment" *ngIf="isEditMode" (click)="onDownload(formattedReplyFileNameControl.value, formattedReplyFilePathControl.value)">
                        <a class="dropdown-toggle icon-menu icon-menu2" data-toggle="dropdown" href="javascript:void(0)">
                          <i aria-hidden="true" class="fa fa-download"></i>
                        </a>
                      </div>
                      <input #file (change)="onFormattedReplyFileSelect($event.target.files)" type="file" class="file-upload-btn"
                             accept=".jpg,.jpeg,.pdf,.csv"
                      title="{{ formattedReplyFileNameControl.value ? formattedReplyFileNameControl.value : 'No file chosen' }}" />
                      <input type="text" [value]="formattedReplyFileNameControl.value" class="form-control  input-sm input-sm2" 
                        placeholder="Upload file..." id="fileFormattedReplyUploadId" />
                    </div>
                  </div>
                  <div class="col-md-3" *ngIf="!isReversalDispute && !isDualDispute">
                    <div class="form-group">
                      <label class="required">Formatted Reply Date</label>
                      <input type="text" #formattedReplyDate bsDatepicker formControlName="formattedReplyDate"
                             class="form-control form-control input-sm input-sm2" placeholder="date"
                             [bsConfig]="formattedReplyBsConf">
                    </div>
                  </div>
                  <div class="col-md-3" *ngIf="!isReversalDispute && !isDualDispute">
                    <div class="form-group" formGroupName="disputeCategory">
                      <label class="required">Dispute Category</label>
                      <select class="form-control input-sm input-sm2" formControlName="id" (change)="onDisputeCategoryChange($event.target.value)">
                        <option disabled selected value="null"> --Select-- </option>
                        <option *ngFor="let disputeCategory of disputeCategories" value="{{disputeCategory?.id}}">{{disputeCategory?.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3" *ngIf="!isReversalDispute && !isDualDispute">
                    <div class="form-group" formGroupName="disputeType">
                      <label class="required">Dispute Type</label>
                      <select class="form-control input-sm input-sm2" formControlName="id">
                        <option disabled selected value="null"> --Select-- </option>
                        <option *ngFor="let disputeType of disputeTypes" value="{{disputeType?.id}}">{{disputeType?.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3" *ngIf="!isReversalDispute && !isDualDispute && disputeCategoryIdControl.value && disputeCategoryIdControl.value == 1">
                    <div class="form-group">
                      <label class="required">FIR Copy (Upload Doc)(only jpg, pdf, csv allowed)</label>
                      <div class="chart-download mar-left" id="downloadFirAttachment" *ngIf="isEditMode && firFilePathControl.value" (click)="onDownload(firFileNameControl.value, firFilePathControl.value)">
                        <a class="dropdown-toggle icon-menu icon-menu2" data-toggle="dropdown" href="javascript:void(0)">
                          <i aria-hidden="true" class="fa fa-download"></i>
                        </a>
                      </div>
                      <input #file (change)="onFirFileSelect($event.target.files)" type="file" class="file-upload-btn"
                             accept=".jpg,.jpeg,.pdf,.csv"
                      title="{{ firFileNameControl.value ? firFileNameControl.value : 'No file chosen' }}" />
                      <input type="text" [value]="firFileNameControl.value" class="form-control  input-sm input-sm2" 
                        placeholder="Upload file..." id="firFirFileUploadId" />
                    </div>
                  </div>
                  <div class="col-md-3" *ngIf="!isReversalDispute && !isDualDispute">
                    <div class="form-group">
                      <label class="required">Dispute Form Type</label>
                      <select class="form-control input-sm input-sm2" (change)="onFormattedReplyTypeChange($event.target.value)" formControlName="formattedReplyType">
                        <option disabled selected value="null"> --Select-- </option>
                        <option value="1">Type 1</option>
                        <option value="2">Type 2</option>
                        <option value="3">Type 3</option>
                        <option value="4">Type 4</option>
                        <option value="5">Type 5</option>
                        <option value="6">Type 6</option>
                        <option value="7">Type 7</option>
                        <option value="8">Type 8</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3" *ngIf="isReversalDispute || isDualDispute">
                    <div class="form-group">
                      <label class="required">Issue Type</label>
                      <input type="text" formControlName="issueType" class="form-control input-sm input-sm2">
                    </div>
                </div>
                  <div class="col-md-3" *ngIf="isReversalDispute || isDualDispute">
                    <div class="form-group">
                      <label>Reversal Document (if any)(only jpg, pdf, csv allowed)</label>
                      <div class="chart-download mar-left" id="downloadReversalAttachment" *ngIf="isEditMode" (click)="onDownload(reversalDocumentFileNameControl.value, reversalDocumentFilePathControl.value)">
                        <a class="dropdown-toggle icon-menu icon-menu2" data-toggle="dropdown" href="javascript:void(0)">
                          <i aria-hidden="true" class="fa fa-download"></i>
                        </a>
              </div>
                      <input #file (change)="onReversalDocumentSelect($event.target.files)" type="file" accept=".jpg,.jpeg,.pdf,.csv" class="file-upload-btn"
                             title="{{ reversalDocumentFileNameControl.value ? reversalDocumentFileNameControl.value : 'No file chosen' }}" />
                      <input type="text" [value]="reversalDocumentFileNameControl.value" class="form-control  input-sm input-sm2"
                             placeholder="Upload file..." id="fileReversalDocUploadId" />
            </div>
          </div>
                  <div class="col-md-12 top-spc" *ngIf="isReversalDispute || isDualDispute">
                    <div class="form-group">
                      <label>Dispute Reason</label>
                      <textarea class="form-control" formControlName="disputeReason"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-profile border-none" *ngIf="formattedReplyTypeControl.value">
            <div class="clearfix">
          <div class="row form-inner-cover cover2">
                <div class="col-md-12 top-spc" *ngIf="formattedReplyTypeControl.value == 1">
                  <div class="col-md-12">
                    <span>I do not recognise the transaction, please clarify.</span>
                  </div>
                </div>
                <div class="col-md-12 top-spc" *ngIf="formattedReplyTypeControl.value == 2">
                  <div class="col-md-12">
                    <span>
                      I have not authorised or participated in the transaction(s) or Internet transaction(s) listed above.
                      Please note that if you have ticked this box your card may be stopped and you may be asked to return your card.
                    </span>
                  </div>
                </div>
                <div class="col-md-12 top-spc" *ngIf="formattedReplyTypeControl.value == 3">
                  <div class="col-md-12">
                    <span>
                      I only authorized one transaction for INR________ on ___ / ___ / ___.
                      It appears to be duplicated on ___ / ___ /
                    </span>
                  </div>
              <div class="col-md-3">
                <div class="form-group">
                      <label class="required">Transaction Amount</label>
                      <input type="text" OnlyNumber="true" formControlName="authorizeTransactionAmount"
                             class="form-control input-sm input-sm2"
                             placeholder="">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                      <label class="required">Transaction Date</label>
                      <input type="text" #authorizeTransactionOn bsDatepicker formControlName="authorizeTransactionOn"
                             class="form-control form-control input-sm input-sm2" placeholder="date"
                             [bsConfig]="bsConfig">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                      <label class="required">Duplicated On</label>
                      <input type="text" #transactionDuplicatedOn bsDatepicker formControlName="transactionDuplicatedOn"
                             class="form-control form-control input-sm input-sm2" placeholder="date"
                             [bsConfig]="bsConfig">
                    </div>
                  </div>
                </div>
                <div class="col-md-12 top-spc" *ngIf="formattedReplyTypeControl.value == 4">
                  <div class="col-md-12">
                    <span>
                      I only authorized one transaction for INR________ on ___ / ___ / ___.
                      It appears to be processed for the incorrect amount of INR______________.
                      Please attach a copy of sales receipt and any other applicable documentation.
                    </span>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                      <label class="required">Transaction Amount</label>
                      <input type="text" OnlyNumber="true" formControlName="authorizeTransactionAmount"
                             class="form-control input-sm input-sm2"
                             placeholder="">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                      <label class="required">Transaction Date</label>
                      <input type="text" #authorizeTransactionOn bsDatepicker formControlName="authorizeTransactionOn"
                             class="form-control form-control input-sm input-sm2" placeholder="date"
                             [bsConfig]="bsConfig">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                      <label class="required">Incorrect Transaction Amount</label>
                      <input type="text" OnlyNumber="true" formControlName="incorrectTransactionAmount"
                             class="form-control input-sm input-sm2"
                             placeholder="">
                </div>
              </div>
                    </div>
                <div class="col-md-12 top-spc" *ngIf="formattedReplyTypeControl.value == 5">
                  <div class="col-md-12">
                    <span>
                      A credit for INR________ was not processed on ___ / ___ / ___. Merchandise was returned / Services were cancelled on ___ / ___ / ___.
                      I last contacted the merchant about this matter on ___ / ___ / ___.
                      Please attach a copy of sales receipt and any other applicable documentation.
                    </span>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="required">Transaction Amount</label>
                      <input type="text" OnlyNumber="true" formControlName="authorizeTransactionAmount"
                             class="form-control input-sm input-sm2"
                             placeholder="">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="required">Not Processed On</label>
                      <input type="text" #notProcessedOn bsDatepicker formControlName="notProcessedOn"
                             class="form-control form-control input-sm input-sm2" placeholder="date"
                             [bsConfig]="bsConfig">
                </div>
              </div>
              <div class="col-md-3">
                    <div class="form-group">
                      <label class="required">Service Cancelled On</label>
                      <input type="text" #cancelledOn bsDatepicker formControlName="cancelledOn"
                             class="form-control form-control input-sm input-sm2" placeholder="date"
                             [bsConfig]="bsConfig">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="required">Contacted Merchant On</label>
                      <input type="text" #contactedMerchantOn bsDatepicker formControlName="contactedMerchantOn"
                             class="form-control form-control input-sm input-sm2" placeholder="date"
                             [bsConfig]="bsConfig">
                    </div>
                    </div>
                  </div>
                <div class="col-md-12 top-spc" *ngIf="formattedReplyTypeControl.value == 6">
                  <div class="col-md-12">
                    <span>
                      I have not received the goods or services I have paid for. They were expected on ___ / ___ / ___.
                      I have contacted the merchant to try and resolve this matter on ___ / ___ / ___.
                      Please attach a copy of sales receipt and any other applicable documentation.
                    </span>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="required">Service Expected On</label>
                      <input type="text" #serviceExpectedOn bsDatepicker formControlName="serviceExpectedOn"
                             class="form-control form-control input-sm input-sm2" placeholder="date"
                             [bsConfig]="bsConfig">
                </div>
              </div>
                  <div class="col-md-3">
                <div class="form-group">
                      <label class="required">Contacted Merchant On</label>
                      <input type="text" #contactedMerchantOn bsDatepicker formControlName="contactedMerchantOn"
                             class="form-control form-control input-sm input-sm2" placeholder="date"
                             [bsConfig]="bsConfig">
                </div>
              </div>
                </div>
                <div class="col-md-12 top-spc" *ngIf="formattedReplyTypeControl.value == 7">
                  <div class="col-md-12">
                    <span>
                      The goods or services I have paid for were damaged / defective or not as described.
                      I returned the goods / cancelled the services on ___ / ___ / ___.
                      I have contacted the merchant to try and resolve this matter on ___ / ___ / ___.
                      Please describe and provide evidence (e.g. invoice) of the damaged / defective / not as described goods or services.
                      Please provide proof that the goods were returned / services cancelled or an attempt was made.
                      Please attach a copy of sales receipt and any other applicable documentation.
                    </span>
                  </div>
              <div class="col-md-3">
                <div class="form-group">
                      <label class="required">Services Cancelled On</label>
                      <input type="text" #cancelledOn bsDatepicker formControlName="cancelledOn"
                             class="form-control form-control input-sm input-sm2" placeholder="date"
                             [bsConfig]="bsConfig">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                      <label class="required">Contacted Merchant On</label>
                      <input type="text" #contactedMerchantOn bsDatepicker formControlName="contactedMerchantOn"
                             class="form-control form-control input-sm input-sm2" placeholder="date"
                             [bsConfig]="bsConfig">
                    </div>
                  </div>
                </div>
                <div class="col-md-12 top-spc" *ngIf="formattedReplyTypeControl.value == 8">
                  <div class="col-md-12">
                    <span>
                      I paid for the goods or services by other means and my card / account was debited. E.g. cash, another credit card, cheque. 
                      Please attach copy of document(s) supporting this claim.
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row form-inner-cover cover2">
            <div class="col-md-12" align="right">
              <button type="submit" class="submit-btn" data-size="s" [ladda]="isLoading">{{isEditMode ? 'Update' : 'Save'}}</button>
              <button type="button" (click)="onSubmit(true)" class="submit-btn" data-size="s" [ladda]="isLoading" *ngIf="!isEditMode  && !isReversalDispute && !isDualDispute">Send for Approval</button>
              <button type="button" (click)="onCancelForm()" class="btn btn-primary cancel-btn">Cancel
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
