<!-- WRAPPER -->
<div id="wrapper">
  <div class="vertical-align-wrap">
    <div class="vertical-align-middle">
      <div class="auth-box ">
        <div class="left">
          <div class="content">
            <div class="header" style="margin-top: 18%">
              <div class="logo text-center"><img src="assets/images/bee-recon3.png" alt="Klorofil Logo"></div>
            </div>
            <small class="extraSmall">4 digit code has been sent via SMS on registered mobile number
              {{ mobileNumber }}.
            </small>

            <form [formGroup]="otpForm" (ngSubmit)="onSubmit()" role="login" style="margin-top: 05%">
              <div class="form-group btm-spc">
                <label class="left-align">Enter Dynamic Access Code</label>
                <input type="password" class="form-control" formControlName="otp"
                       placeholder="Enter Otp"/>
              </div>
              <label *ngIf="requestSubmitted" class="left-align">Your request has been submitted.</label>
              <label *ngIf="requestExceed" class="left-align" style="color: red">you have exceeded your request.</label>
              <div class="row" style="margin-top: 13%">
                <div class="col-md-5"></div>
                <div class="col-md-3">
                  <button type="button" (click)="resendOtp()" class="btn cancel-btn">Resend</button>
                </div>
                <div class="col-md-3">
                  <button type="submit" class="btn submit-btn"> Submit</button>
                </div>
              </div>

            </form>
          </div>
        </div>
        <div class="right">
          <div class="overlay"></div>
          <div class="content text" align="center">
            <h1 class="heading">Data Reconciliation</h1>
            <p></p>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
