<div class="panel panel-profile panel_height">
  <div class="clearfix">

    <table class="table table-hover table-inner-align2 privilege-table-cover">
      <tbody>
      <tr>
        <th class="newbg">Setting Types</th>
      </tr>

      <tr>
        <td (click)="onTatClick()"><a routerLinkActive="active"
               [routerLink]="['/home/disputes/part', 'tat', {outlets: {'bodyOutlet': ['list']}}]">TAT</a></td>

      </tr>
      <tr>
        <td><a routerLinkActive="active"
               [routerLink]="['/home/disputes/part', 'duplicate-criteria', {outlets: {'bodyOutlet': ['list']}}]"
        >Duplicate Criteria</a></td>
      </tr>

      <tr>
        <td><a routerLinkActive="active"
               [routerLink]="['/home/disputes/part','matching-criteria', {outlets: {'bodyOutlet': ['list']}}]">Matching
          Criteria</a></td>
      </tr>
      <tr>
        <td>
          <a routerLinkActive="active"
             [routerLink]="['/home/disputes/part','transaction-matching-criteria', {outlets: {'bodyOutlet': ['list']}}]">Transaction
            Matching Criteria</a>
        </td>
      </tr>
      <tr>
        <td>
          <a routerLinkActive="active"
             [routerLink]="['/home/disputes/part','assignment-rules', {outlets: {'bodyOutlet': ['list']}}]">Assignment
            Rules</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
