<div class="panel panel-profile">
  <div class="panel panel-heading newhead newbg">
    <div class="row">
      <div class="col-md-12">
        <h4>Invalid Data</h4>
      </div>
    </div>
  </div>
  <div class="panel-body panel-body-align">
    <div class="clearfix">
      <div class="row form-inner-cover cover2">
        <div class="col-md-12 top-spc">
          <div class="col-md-2">
            <button type="button" (click)="selectAppUser()" class="btn submit-btn">Assign</button>
          </div>
        </div>
      </div>
      <div class="row form-inner-cover cover2">
        <div class="col-md-12 top-spc">
          <div class="col-md-3 right-margin" *ngFor="let searchFiled of searchFileds">
            <label>{{searchFiled.label}}</label>
            <input type="text" (keyup)="searchForDynamic($event.target.value,searchFiled.fieldName)"
                   class="form-control input-sm">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-profile panel-top-spc">
  <div class="clearfix">
    <div class="col-md-12 top-spc" *ngIf="showTable">
      <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" class="table table-condensed">
        </table>
      </div>
    </div>
  </div>
</div>

