<!-- WRAPPER -->
<div id="wrapper">
  <div class="vertical-align-wrap">
    <div class="vertical-align-middle">
      <div class="auth-box ">
        <div class="left">
          <div class="content">
            <div class="header" style="margin-top: 5%">
              <div style="margin-bottom: 20px"  class="logo text-center"><img src="assets/images/bee-recon3.png" alt="Klorofil Logo"></div>
              <small class="extraSmall">Your current password has expired</small>
              <small class="extraSmall">change your password.</small>
            </div>
            <small style="color: red" *ngIf="isError" class="extraSmall">Password must have {{policyErrorMessage}}</small>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" role="login">
              <div class="form-group btm-spc row">
                <label  class="control-label sr-only">Current Password</label>
                <div class="col-md-10 main-position-first-login">
                <input [type]="oldPassword ? 'text' : 'password'" class="form-control" formControlName="oldPassword"
                       placeholder="Current Password"/>
                  <span (click)="showOldPassword()" [class]="oldPassword ? 'fa fa-eye-slash eye-size' : 'fa fa-eye eye-size'"></span>
                </div>
              </div>
              <div class="form-group btm-spc row">
                <label  class="control-label sr-only">New Password</label>
                <div class="col-md-10 main-position-first-login">
                <input [type]="password ? 'text' : 'password'" class="form-control" formControlName="password"
                       placeholder="New Password"/>
                  <span (click)="showPassword()" [class]="password ? 'fa fa-eye-slash eye-size' : 'fa fa-eye eye-size'"></span>
                </div>
              </div>
              <div class="form-group btm-spc row">
                <label for="signin-password" class="control-label sr-only">Confirm Password</label>
                <div class="col-md-10 main-position-first-login">
                <input [type]="confirmPassword ? 'text' : 'password'" class="form-control" formControlName="confirmPassword" id="signin-password"
                       placeholder="Confirm New Password"/>
                  <span (click)="showConfirmPassword()" [class]="confirmPassword ? 'fa fa-eye-slash eye-size' : 'fa fa-eye eye-size'"></span>
                </div>
              </div>
              <button type="submit" [ladda]="isLoading" class="login-btn"><i class="fa fa-key margin-right" aria-hidden="true"></i>Reset password</button>
            </form>
          </div>
        </div>
        <div class="right">
          <div class="overlay"></div>
          <div class="content text" align="center">
            <h1 class="heading">Data Reconciliation</h1>
            <p></p>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
