<div class="col-md-12 left-pad2 right-pad2">

  <div class="panel">
    <div class="panel-heading newbg">
      <h3 class="panel-title">{{isEditMode?'Edit':'New'}} Matching Criteria</h3>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="panel-body">
        <div class="panel panel-profile border-none cover2">
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-3">
                <div class="form-group">
                  <label class="required">Module</label>
                  <select class="form-control input-sm" formControlName="moduleId" #module>
                    <option value="null" disabled>--Select One--</option>
                    <option *ngFor="let parentModule of modules" value="{{parentModule.id}}">
                      {{parentModule.name}}
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="required">Name</label>
                  <input type="text" formControlName="name" id="name" class="form-control input-sm" maxlength="255">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12"><h4> Matching Items </h4></div>
        </div>

        <div class="panel panel-profile border-none cover2">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-3">
                  <div class="form-group">
                    <label class=" required">Dispute Column</label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class=" required">Repersenment Column</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class=" required">Matching Type</label>
                  </div>
                </div>
                <div class="col-md-2">
                </div>
              </div>
            </div>
          </div>
          <div *ngFor=" let dataElement of form.get('itemVos')['controls'] ; let i = index">
            <div class="col-sm-12" formArrayName="itemVos">
              <div class="row formArray" [formGroupName]="i">
                <div class="col-md-12">
                  <div class="col-md-3">
                    <div class="form-group">
                      <select class="form-control input-sm" formControlName="disputeCol">
                        <option value="null" disabled>--Select One--</option>
                        <option *ngFor="let item of disputColumns" value="{{item}}">
                          {{item}}
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <select class="form-control input-sm" formControlName="represermentCol">
                        <option value="null" disabled>--Select One--</option>
                        <option *ngFor="let item of repersermentColumns" value="{{item}}">
                          {{item}}
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4 padding_none">
                    <div class="col-sm-12">
                      <div class="col-md-3 padding_none">
                        <label class="fancy-radio">
                          <input formControlName="jointType" type="radio" id="{{ 'forand' + i}}" value="AND">
                          <span><i></i>AND</span>
                        </label>
                      </div>
                      <div class="col-md-3 padding_none">
                        <label class="fancy-radio">
                          <input formControlName="jointType" type="radio" id="{{ 'foror' + i}}" value="OR">
                          <span><i></i>OR</span>
                        </label>
                      </div>

                    </div>
                  </div>

                  <div class="col-md-1">
                    <a href="javascript:void(0);" (click)="removeElement(i)"
                       class="text-danger delete-btn"><i class="fa fa-trash-o"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row bottom-30">
            <div class="col-sm-12">
              <div class="col-md-12">
                <div class="col-md-6">
                  <button type="button" (click)="addDataElement()" class="btn btn-primary add-btn"><i
                    class="fa fa-plus-circle" aria-hidden="true"></i>
                    Add
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="col-md-12" align="right">
              <button type="submit" class="submit-btn" [ladda]="isLoading">{{isEditMode?'Update':'Submit'}}</button>
              <button type="button"
                      [routerLink]="['/home/disputes/part','matching-criteria', {outlets: {'bodyOutlet': ['list']}}]"
                      class="btn btn-primary cancel-btn">Cancel
              </button>
            </div>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>
<!-- END MAIN CONTENT -->
