<div class="panel panel-heading newhead newbg">
  <h4 class="modal-title">Transaction History</h4>
</div>
  <div class="row">
    
    <div class="col-md-12">
      <div class="tab-content">
        <div class="tab-pane active" role="tabpanel" id="historyTabPaneId">
          <div class="custom-tabs-line tabs-line-bottom left-aligned" *ngIf="hasDisputeHistory">
            <ul class="nav" role="tablist">
              <li class="active"><a href="#tab-timeline-id" role="tab"
                                    data-toggle="tab">Timeline</a></li>
              <li><a href="#tab-history-id" role="tab" data-toggle="tab">History</a></li>
            </ul>
          </div>
          <div class="tab-content all_form">
            <div class="tab-pane tab-pane2 fade in active cover2" id="tab-timeline-id">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="panel panel-profile panel-top-spc">
                      <div class="clearfix">
                        <div class="col-md-12 top-spc padding_none">
                          <div style="display:inline-block;width:100%;overflow-y:auto;padding: 63px 0 0 0;">
                            <div *ngFor="let history of disputeHistory; let i = index; let isOdd=odd; let isEven=even">
                              <div class="timeline timeline-horizontal" *ngIf="isEven">
                                <div class="timeline-item">
                                  <div class="timeline-badge2">
                                    <div class="timeline-heading">
                                      <p>
                                        <small><i class="fa fa-calendar" aria-hidden="true"></i> {{history.transitionOn | date:
                                            'dd-MM-yyyy'}}
                                        </small>
                                      </p>
                                      <p>
                                        <small><i class="fa fa-clock-o" aria-hidden="true"></i>{{history.transitionOn | date:
                                            'hh:mm a'}}
                                        </small>
                                      </p>
                                    </div>
                                  </div>
                                  <div class="timeline-badge primary"><i class="glyphicon glyphicon-check"></i></div>
                                  <div class="timeline-panel">

                                    <div class="timeline-body timline-body2">
                                      <h6>{{history.activity}}{{history.performedBy ? ' by ' + history.performedBy : ''}}</h6>
                                      <p *ngIf="history.remark">'Remark :- ' {{history.remark === null ? '' : history.remark}}</p>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="timeline timeline-horizontal" *ngIf="isOdd">
                                <div class="timeline-item">
                                  <div class="secons-time">
                                    <div class="timeline-heading">
                                      <p>
                                        <small><i class="fa fa-calendar" aria-hidden="true"></i> {{history.transitionOn | date:
                                            'dd-MM-yyyy'}}
                                        </small>
                                      </p>
                                      <p>
                                        <small><i class="fa fa-clock-o" aria-hidden="true"></i>{{history.transitionOn | date:
                                            'hh:mm a'}}
                                        </small>
                                      </p>
                                    </div>
                                  </div>
                                  <div class="timeline-badge info "><i class="glyphicon glyphicon-check"></i></div>
                                  <div class="timeline-panel second panel-left-arrow">

                                    <div class="timeline-body timline-body2">
                                      <h6>{{history.activity}}{{history.performedBy ? ' by ' + history.performedBy : ''}}</h6>
                                      <p *ngIf="history.remark">'Remark :- ' {{history.remark === null ? '' : history.remark}}</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane tab-pane2 fade cover2" id="tab-history-id">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="panel panel-profile panel-top-spc">
                      <div class="clearfix">
                        <div *ngIf="disputeHistory.length > 0" class="col-md-12 top-spc table-responsive3">
      <table class="table table_spc table-striped">
        <thead>
        <tr>
          <th width="15%">Date</th>
          <th width="17%">User</th>
          <th>Activity</th>
          <th>Remark</th>
        </tr>
        </thead>
        <tbody>
        <tbody>
        <tr *ngFor="let activities of disputeHistory">
          <td>{{activities.transitionOn | date:'medium'}}</td>
          <td>{{activities.performedBy}}</td>
                              <td>{{activities.activity}}</td>
          <td>{{activities.remark}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="disputeHistory.length <= 0" align="center"> No History Found</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    
            </div>
            
        </div>
        </div>
      </div>
    </div>

  </div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary cancel-btn" (click)="close()"
          data-dismiss="modal">Close
  </button>
</div>
