<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="container-fluid left-pad2 right-pad2">

      <div class="panel">
        <div class="panel-heading newbg">
          <h3 class="panel-title">New Rollback</h3>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="panel-body">

            <div class="panel-profile cover2">
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-2">
                    <label class="required">Pipe Line</label>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <select class="form-control input-sm" #pipeLine (change)="onPipeLineSelect(pipeLine.value)"
                              formControlName="pipeLine">
                        <option value="null" disabled>--Select One--</option>
                        <option *ngFor="let pipeLine of pipeLines" value="{{pipeLine.pipelineId}}">
                          {{pipeLine.description}}
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" style="margin-top: 20px">
                <div class="col-md-12">
                  <div class="col-md-2">
                    <label class="required">Module</label>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <angular2-multiselect [data]="modules" [settings]="dropDownSettings"
                                            formControlName="module">
                      </angular2-multiselect>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" style="margin-top: 20px">
                <div class="col-md-12">
                  <div class="col-md-2">
                    <label class="required">Pipe Line Execution</label>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <select class="form-control input-sm" formControlName="pipeLineExecution">
                        <option value="null" disabled>--Select One--</option>
                        <option *ngFor="let pipeLineExecution of pipeLineExecutions" value="{{pipeLineExecution.id}}">
                          {{pipeLineExecution.name}} {{' '+pipeLineExecution.date|date:['dd-MM-yyy']}}
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row"  style="margin-top: 20px">
              <div class="col-md-12">
                <div class="col-md-12" align="right">
                  <button type="submit" class="submit-btn" data-size="s" [ladda]="isLoading">Submit</button>
                  <button type="button"
                          [routerLink]="['/home/etl', 'rollback', {outlets: {'fullBodyOutlet': ['list']}}]"
                          class="btn btn-primary cancel-btn">Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- END MAIN CONTENT -->
</div>
