<div class="panel panel-profile panel-align all-panel-align">
  <div class="clearfix">
    <div class="panel-heading newhead newbg">
      <h3>LookUp Providers</h3></div>
    <div class="panel-body">
      <div class="clearfix">
        <div class="col-md-12 all-cover-data-provider-list">
          <div class="table-responsive ">
          <table datatable [dtOptions]="dtOptions" class="table table-condensed">
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
