<div class="panel panel-profile">
  <div class="panel panel-heading newhead newbg">
    <div class="row">
      <div class="col-md-10">
        <h4>Master Data</h4>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
  <div class="panel-body panel-body-align">
    <div class="clearfix">
      <div class="row form-inner-cover cover2">
        <div class="col-md-12 top-spc">
          <div class="col-md-3 right-margin" *ngFor="let searchFiled of searchFileds">
            <label>{{searchFiled.label}}</label>
            <input type="text" (keyup)="searchByName($event.target.value,searchFiled.fieldName)"
                   class="form-control input-sm">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-profile panel-top-spc">
  <div class="clearfix">
    <div class="col-md-12 top-spc" *ngIf="showTable">
      <table id="table" #table datatable [dtOptions]="dtOptions" class="table table-condensed">
      </table>
    </div>
  </div>
</div>
