<div class="col-md-12 left-pad2 right-pad2">

  <div class="panel">
    <div class="panel-heading newbg">
      <h3 class="panel-title">New Duplicate Criteria</h3>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="panel-body">
        <div class="panel panel-profile border-none cover2">
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-6" formGroupName="module">
                <div class="form-group ">
                  <label class="required">Module</label>
                  <select class="form-control input-sm" #parentModule formControlName="id">
                    <option value="null" disabled>--Select One--</option>
                    <option *ngFor="let parentModule of modules" value="{{parentModule.id}}">
                      {{parentModule.name}}
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="required">Name</label>
                  <input type="text" formControlName="name" class="form-control input-sm"
                         placeholder="Name">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12"><h4>Fields use to check duplicate dispute</h4></div>
        </div>

        <div class="panel panel-profile border-none cover2">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label class="required">Field</label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="required">Type</label><br>

                </div>
              </div>
            </div>
          </div>
          <div *ngFor=" let field of form.get('fields')['controls'] ; let k = index">
            <div class="col-sm-12" formArrayName="fields">

              <div class="row formArray" [formGroupName]="k">
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-3">
                      <div class="form-group ">
                        <select class="form-control input-sm" formControlName="field">
                          <option value="" disabled>----Select One----;</option>
                          <option *ngFor="let field of fieldsForCheck" value={{field}}>{{field}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <div class="col-md-4 padding_none">
                          <label class="fancy-radio">
                            <input formControlName="type" value="AND" type="radio">
                            <span><i></i>AND</span>
                          </label>
                        </div>

                        <div class="col-md-4 padding_none">
                          <label class="fancy-radio">
                            <input formControlName="type" value="OR" type="radio">
                            <span><i></i>OR</span>
                          </label>
                        </div>

                      </div>
                    </div>

                    <div class="col-md-1">
                      <a href="javascript:void(0);" (click)="removefields(k)"
                         class="text-danger delete-btn"><i class="fa fa-trash-o"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-6">
                <button type="button" (click)="addFields()" class="btn btn-primary add-btn"><i
                  class="fa fa-plus-circle" aria-hidden="true"></i>
                  Add
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-12" align="right">
          <button type="submit" class="submit-btn" data-size="s" [ladda]="isLoading">
            submit
          </button>
          <button type="button"
                  [routerLink]="['/home/disputes/part', 'duplicate-criteria', {outlets: {'bodyOutlet': ['list']}}]"
                  class="btn btn-primary cancel-btn">Cancel
          </button>
        </div>
      </div>

    </form>
  </div>

</div>
