<div class="col-md-12 left-pad right-pad2" *ngIf="isFormShow">
  <div class="panel panel-heading newhead newbg"><h4>Financial Institution</h4></div>
  <div class="panel panel-profile">
    <div class="clearfix">
      <div class="row form-inner-cover cover2">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="row top-spc">
            <div>
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-md-3">
                    <label>Master Data Usage</label>
                  </div>
                  <div class="col-md-3">
                    <label>Master Data type</label>
                  </div>
                  <div class="col-md-3">
                    <label>ATM Column Name</label>
                  </div>
                  <div class="col-md-2">
                    <label>File Column Name</label>
                  </div>
                </div>
              </div>
              <div *ngFor=" let setting of form.get('globalSetting')['controls'] ; let i = index">
                <div class="col-sm-12" formArrayName="globalSetting">
                  <div class="row formArray" [formGroupName]="i">
                    <div class="col-md-3">
                      <select class="form-control input-sm" #usage (change)="onChangeMasterDataUsages(i, usage.value)" formControlName="settingKey">
                        <option value="" disabled>--All--</option>
                        <option *ngFor="let masterDataUsage of masterDataUsages" value="{{masterDataUsage.key}}">
                          {{masterDataUsage.value}}
                      </select>
                    </div>
                    <div class="col-md-3">
                      <select class="form-control input-sm" #master (change)="onChangeMasterDataType(i, master.value)" formControlName="settingValue">
                        <option value="" disabled>--All--</option>
                        <option *ngFor="let statu of masterDatas" value="{{statu.table}}">
                          {{statu.name}}
                      </select>
                    </div>
                    <div class="col-md-3" *ngIf="usage.value === 'ATM'">
                      <select class="form-control input-sm" formControlName="parentKey">
                        <option value="" disabled>--All--</option>
                        <option *ngFor="let column of map.get(i)" value="{{column}}">
                          {{column}}
                      </select>
                    </div>
                    <div class="col-md-2" *ngIf="usage.value === 'ATM'">
                      <select class="form-control input-sm" formControlName="fileColumnName">
                        <option value="" disabled>--All--</option>
                        <option *ngFor="let column of map.get(i)" value="{{column}}">
                          {{column}}
                      </select>
                    </div>
                    <div class="col-md-5" *ngIf="usage.value !== 'ATM'">

                    </div>
                    <div class="col-md-1" *ngIf="i > 0">
                      <a href="javascript:void(0);" (click)="removeSetting(i)"
                         class="text-danger delete-btn"><i class="fa fa-trash-o"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row bottom-30">
                <div class="col-md-12">
                  <div class="col-md-6">
                    <button type="button" (click)="addGlobalSetting()" class="btn btn-primary add-btn"><i
                      class="fa fa-plus-circle" aria-hidden="true"></i>
                      Add
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 spc-bottom" align="right">
            <button data-size="s" type="submit" [ladda]="isLoading" class="submit-btn">Submit</button>
            <button data-size="s" (click)="cancel()" type="button"
                    class="btn cancel-btn">Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!isFormShow">
  <app-financial-institution-detail [user]="financialData" (editClick)="edit()"></app-financial-institution-detail>
</div>
