<!-- WRAPPER -->
<div id="wrapper">
  <div class="vertical-align-wrap">
    <div class="vertical-align-middle">
      <div class="auth-box ">
        <div class="left">
          <div class="content">
            <div class="header" style="margin-top: 5%">
              <div class="logo text-center"><img src="assets/images/bee-recon3.png" alt="Klorofil Logo"></div>
              <p class="lead">Login to your account</p>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" role="login">
              <div class="form-group">
                <label for="signin-email" class="control-label sr-only">Email</label>
                <input type="email"
                       class="form-control" autocomplete="off"
                       formControlName="userName" id="signin-email"
                       placeholder="Username"/>
              </div>
              <div class="form-group row">
                <label for="signin-password" class="control-label sr-only">Password</label>

                <div class="col-md-10 main-position">
                  <input id="password-field" [type]="show ? 'text' : 'password'" class="form-control" autocomplete="off"
                         formControlName="password" id="signin-password"
                         placeholder="Password">
                  <span (click)="showPassword()"
                        [class]="show ? 'fa fa-eye-slash eye-size' : 'fa fa-eye eye-size'"></span>
                </div>

              </div>
              <div class="left-align" *ngIf="isImg">
                <img class="newngm" [src]="imgs">
              </div>
              <div class="row" *ngIf="allowCaptcha">
                <div class="col-sm-1">
                  <a href="javascript:void(0);" (click)="refreshCaptcha();"
                     class="text-danger mt-4"><i class="fa fa-refresh"
                                                 style="font-size:24px; color:blue; margin-left: 40px; margin-top: 8px"></i></a>
                </div>
                <div class="form-group" style="width: 282px; margin-left: 14px">
                  <label for="captcha" class="control-label sr-only">Password</label>
                  <input type="captcha" class="form-control" formControlName="captcha" id="captcha"
                         placeholder="Captcha"/>
                </div>
              </div>
              <button type="submit" [ladda]="isLoading" class="login-btn"><i class="fa fa-unlock-alt margin-right"
                                                                             aria-hidden="true"></i>Secure Login
              </button>
              <button type="button" [ladda]="isSsoLoading" (click)="login()" class="login-btn">
                <i class="fa fa-unlock-alt margin-right" aria-hidden="true"></i>Login with Google
              </button>
              <div><a class="cursor" (click)="registrationRequest()" *ngIf="accountRequest">Request Account Registration</a></div>
              <div><a routerLink="../forgate-password" routerLinkActive="active">Forgot Password</a></div>
            </form>
          </div>
        </div>
        <div class="right">
          <div class="overlay"></div>
          <div class="content text" align="center">
            <h1 class="heading">Data Reconciliation</h1>
            <p></p>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
