<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="col-md-12 left-pad2 right-pad2">
      <div class="panel panel-profile">
        <div class="panel panel-heading newhead newbg iconsize">
          <div class="row">
            <div class="col-md-6 innerheadsource">
              <h3>Recons</h3>
            </div>
            <div class="col-md-6" align="right">
              <a [routerLink]="['/home/recon', 'recons', {outlets: {'fullBodyOutlet': ['new']}}]" title="">
                <button type="button" class="btn new-page-btn"><i class="fa fa-plus-circle"
                                                                  aria-hidden="true"></i> New
                </button>
              </a>
            </div>
          </div>
        </div>
        <div class="">
          <div class="clearfix">
            <div class="row form-inner-cover">
              <div class="col-md-12 top-spc">
                <div class="col-md-3 right-margin">
                  <label>Name</label>
                  <input type="text" placeholder="Name" #name (keyup)="search(name.value, 1)" class="form-control">
                </div>

                <div class="col-md-3 right-margin">
                  <label>Module</label>
                  <select class="form-control" #parent (change)="search(parent.value, 2)">
                    <option [value]="0">--All--</option>
                    <option *ngFor="let parentModule of parentModules" value="{{parentModule.id}}">
                      {{parentModule.name}}
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="panel panel-profile panel-top-spc">
        <div class="clearfix">
          <div class="col-md-12 top-spc all-cover-recons">
            <table datatable [dtOptions]="dtOptions" class="table table-condensed">
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- END MAIN CONTENT -->
</div>
