<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="container-fluid left-pad2 right-pad2">
      <div class="panel">
        <div class="panel-heading newbg">
          <h3 class="panel-title">Change Password</h3>
        </div>
        <div class="panel-body">
          <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-4">
                  <div class="form-group row">
                    <div class="col-md-10">
                      <label class="required">New Password : </label>
                    </div>
                    <div class="col-md-10 main-position-first-login">
                      <input [type]="password ? 'text' : 'password'" formControlName="password"
                             class="form-control input-sm"
                             placeholder="new password">
                      <span (click)="showPassword()"
                            [class]="password ? 'fa fa-eye-slash eye-size' : 'fa fa-eye eye-size'"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group row">
                    <div class="col-md-10">
                      <label class="required">Re-Enter New Password : </label>
                    </div>
                    <div class="col-md-10 main-position-first-login">
                      <input [type]="confirmPassword ? 'text' : 'password'" formControlName="confirmPassword"
                             class="form-control input-sm" placeholder="re-enter new password">
                      <span (click)="showConfirmPassword()"
                            [class]="confirmPassword ? 'fa fa-eye-slash eye-size' : 'fa fa-eye eye-size'"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-10"></div>
                <button type="submit" data-size="s" class="btn submit-btn">Submit</button>
                <button type="button" (click)="cancel()" class="btn btn-primary cancel-btn">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- END MAIN CONTENT -->
</div>
