<div class="panel panel-profile">
  <div class="panel panel-heading newhead newbg"><h4>Approval</h4></div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-2">
        <button type="button" (click)="updateDataStatus()" class="top-spc28 btn submit-btn">Approve</button>
      </div>
      <div class="col-md-3 right-margin">
        <label>Data Source</label>
        <select class="form-control" #dataSource [(ngModel)]="selectedSourceId"
                (change)="onSubCategotyChange(selectedCategory, {id:selectedCategory.id}, null);">
          <option disabled="true">Select one</option>
          <option *ngFor="let dataSource of dataSources" value="{{dataSource.id}}">
            {{dataSource.name}}
          </option>
        </select>
      </div>
      <div class="col-md-1 top-spc10" *ngIf="showForInvalidData"><label>Operation: </label></div>
      <div class="col-md-4 top-spc10" *ngIf="showForInvalidData">
    <div class="form-group inline-label-align radio-label" style="margin-left: 10px">
      <label class="fancy-radio">
        <input name="operation" value="EDITED" type="radio" checked="true" #settingValue
               (click)="EditOperationType()">
        <span><i></i>Edited</span>
      </label>
      <label class="fancy-radio">
        <input name="operation" value="DISCARD" type="radio" #settingValue (click)="discardOperationType()">
        <span><i></i>Discard</span>
      </label>
    </div>
  </div>
    </div>
  </div>
  <div class="row form-inner-cover all-cover-privilege-type">
      <div class="panel panel-profile top-spc10">
      <div class="row form-inner-cover">
        <div class="col-md-12 top-spc">
          <div class="col-md-3 right-margin" *ngFor="let searchFiled of searchFileds">
            <label>{{searchFiled.label}}</label>
            <input type="text" (keyup)="searchByName($event.target.value,searchFiled.fieldName)"
                   class="form-control">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 table-responsive top-spc" *ngIf="showTable">
      <table datatable [dtOptions]="dtOptions" class="table table-condensed">
      </table>
    </div>
  </div>
</div>



