<form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="panel-heading newhead newbgpopup">
    <div class="row">
      <div class="col-md-8">
        <h4><b>{{headerName}}</b></h4>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12 top-spc">
        <div class="col-md-12">
          <dynamic-bootstrap-form [group]="form"
                                  [layout]="formLayout"
                                  [model]="formModel"></dynamic-bootstrap-form>
        </div>
      </div>
    </div>
    <div class="col-md-12 top-spc20" align="right">
      <button type="submit" class="btn submit-btn">Submit</button>
      <button type="button" (click)="close()" class="btn cancel-btn">Cancel</button>
    </div>
  </div>
</form>

