<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="col-md-12 left-pad2 right-pad2">

      <div class="panel">
        <div class="panel-heading newbg">
          <h3 class="panel-title">Data Source Detail</h3>
        </div>
        <div class="panel-body">
          <div class="panel-body">
            <div class="row detailpage">
              <div class="col-md-4">
                <div class="form-inline">
                  <label>ID</label> :
                  <span>{{dataSource.id}}</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-inline">
                  <label>Name</label> : <span>{{dataSource.name}}</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-inline">
                  <label>Module</label> : <span>{{dataSource.module?.name}}</span>
                </div>
              </div>
            </div>

            <div class="row detailpage">
              <div class="col-md-4">
                <div class="form-inline">
                  <label>Recon</label> : <span>{{dataSource.reconName}}</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-inline">
                  <label>Max Duplicate records Limit</label> : <span>{{dataSource.maxDuplicateRecordLimit}}</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-inline">
                  <label>Max Duplicate Record Count Method</label> :
                  <span>{{dataSource.maxDuplicateRecordCountUnit}}</span>
                </div>
              </div>
            </div>

            <div class="row detailpage">
              <div class="col-md-4">
                <div class="form-inline">
                  <label>Max Invalid Data</label> : <span>{{dataSource.maxInvalidRecord}}</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-inline">
                  <label>Max Invalid Record Count Method</label> :
                  <span>{{dataSource.maxInvalidRecordCountUnit}}</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-inline">
                  <label>Data Base Table Config</label> : <span>{{dataSource.sourceElementType}}</span>
                </div>
              </div>
            </div>

            <div class="row detailpage">
              <div class="col-md-4">
                <div class="form-inline">
                  <label>Recon Table</label> : <span>{{dataSource.table}}</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-inline">
                  <label>Invalid Data Table</label> : <span>{{dataSource.invalidTable}}</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-inline">
                  <label>Invalid Data History Table</label> : <span>{{dataSource.historyTable}}</span>
                </div>
              </div>
            </div>

            <div class="row detailpage">
              <div class="col-md-4">
                <div class="form-inline">
                  <label>Amount Column</label> : <span>{{dataSource.amountColumn}}</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-inline">
                  <label>Data Element Type</label> : <span>{{dataSource.sourceElementType}}</span>
                </div>
              </div>

            </div>

            <div class="row detailpage">
              <div class="col-md-4">
                <div class="form-inline">
                  <label>Status Column</label> : <span>{{dataSource.statusColumn}}</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-inline">
                  <label>Iteration Id Column</label> : <span>{{dataSource.iterationIdColumn}}</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-inline">
                  <label>Allow Manual Marking</label> : <span>{{dataSource.manualMark ? 'Yes' : 'No'}}</span>
                </div>
              </div>

            </div>
            <div class="row detailpage">
              <div class="col-md-12">
                <div class="form-inline text-overflow">
                  <label>PipeLine</label> : <span>{{pipeLines}}</span>
                </div>
              </div>
            </div>
          </div>


          <div class="custom-tabs-line tabs-line-bottom left-aligned">
            <ul class="nav" role="tablist">
              <li class="active"><a href="#tab-bottom-left1" role="tab" data-toggle="tab">Data Elements</a></li>
              <li><a href="#tab-bottom-left2" role="tab" data-toggle="tab">SQL Statement</a></li>
            </ul>
          </div>
          <div class="tab-content all_form">
            <div class="tab-pane tab-pane2 fade in active cover2" id="tab-bottom-left1">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12 table-responsive2">
                    <table class="table table_spc table-striped">
                      <tr id="heading-color">
                        <th>Name</th>
                        <th>Type</th>
                        <th>Table Column</th>
                        <th>Encrypted</th>
                        <th>Mask Type</th>
                        <th>Mask Length</th>
                        <th>Mask Char</th>
                      </tr>
                      <tr *ngFor="let element of dataSource.dataElements">
                        <td>{{element.name}}</td>
                        <td>{{element.type}}</td>
                        <td>{{element.tableColumn}}</td>
                        <td>{{element.encrypted}}</td>
                        <td>{{element.maskType}}</td>
                        <td>{{element.maskLength}}</td>
                        <td>{{element.maskChar}}</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane tab-pane2 fade cover2" id="tab-bottom-left2">
              <div class="panel-body" *ngIf="isScript">
                <div class="row">
                  <div class="col-md-12">
                    <label>Recon Table Query</label>
                  </div>
                </div>
                <div class="row ">
                  <div class="col-md-12">
                    <span>{{dataSource.reconDbTableQuery}}</span>
                  </div>
                </div>
                <div class="row upperspace">
                  <div class="col-md-12">
                    <label>Invalid Table Query</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <span>{{dataSource.invalidDbTableQuery}}</span>
                  </div>
                </div>
                <div class="row upperspace">
                  <div class="col-md-12">
                    <label>History Table Query</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <span>{{dataSource.historyDbTableQuery}}</span>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="col-md-12" align="right">
                <button type="button"
                        [routerLink]="['/home/recon', 'data-source', {outlets: {'fullBodyOutlet': ['list']}}]"
                        class="btn submit-btn">Back
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
  <!-- END MAIN CONTENT -->
</div>
