<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 left-pad2 right-pad2">
          <div class="panel panel-profile panel_height">
            <div class="clearfix">
              <table class="table table-hover table-inner-align">
                <tbody>
                <tr>
                  <th class="newbg">Setting Types</th>
                </tr>
                <tr *ngFor="let subSetting of dropDownValue; let i = index">
                  <td class="active"><a href="javascript:void(0);" class="active">
                    <div (click)="onDropDownChange(subSetting.value)">{{subSetting.name}}</div>
                  </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-9 left-pad2 right-pad2">
          <div class="panel panel-profile">
            <div class="panel panel-heading newhead newbg"><h4>Settings</h4></div>
            <div class="panel panel-profile border-none border-none2 all-cover-new-user">
              <div class="panel-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                  <div *ngIf="isSubscription">
                    <div class="col-md-12">
                      <label>Setting Type : {{settingType}}</label>
                    </div>
                    <div class="col-sm-12 top-large-spc">
                      <div class="row">
                        <div class="col-md-2">
                          <label>S. No.</label>
                        </div>
                        <div class="col-md-6">
                          <label>Notification</label>
                        </div>
                        <div class="col-md-1">
                          <label>Email</label>
                        </div>
                        <div class="col-md-1">
                          <label>Sms</label>
                        </div>
                        <div class="col-md-1">
                          <label>Ui</label>
                        </div>
                        <div class="col-md-1">
                          <label>Slack</label>
                        </div>
                      </div>
                    </div>
                    <div *ngFor=" let notifica of form.get('subscriptions')['controls'] ; let i = index">
                      <div class="col-sm-12" formArrayName="subscriptions">
                        <div class="row formArray" [formGroupName]="i">
                          <div class="col-md-2">
                            <label> {{i + 1}}</label>
                          </div>
                          <div class="col-md-6" formGroupName="notification">
                            <div class="form-group">
                              <p>{{notifica.get('notification').get('displayMessage').value}}</p>
                            </div>
                          </div>
                          <div class="col-md-1">
                            <div class="form-group">
                              <input type="checkbox" formControlName="emailSubscribed">
                            </div>
                          </div>
                          <div class="col-md-1">
                            <div class="form-group">
                              <input type="checkbox" formControlName="smsSubscribed">
                            </div>
                          </div>
                          <div class="col-md-1">
                            <div class="form-group">
                              <input type="checkbox" formControlName="uiSubscribed">
                            </div>
                          </div>

                          <div class="col-md-1">
                            <div class="form-group">
                              <input type="checkbox" formControlName="slackSubscribed">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 top-spc">
                    <div class="col-md-9 top-spc"></div>
                    <button type="submit" class="btn submit-btn">Submit</button>
                    <button type="button" (click)="cancel()" class="btn cancel-btn">Cancel</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END MAIN CONTENT -->
  </div>
</div>
