<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="container-fluid left-pad2 right-pad2">
      <div class="panel">
        <div class="panel-heading newbg innerheadsource-pad">
          <h3 class="panel-title">{{isEditMode === true ? 'Edit User' : 'New User'}}</h3>
        </div>
        <div class="panel-body pad_left_right_none">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="panel-profile cover2 all_form">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group inline-label-align">
                    <label class="required">First Name : </label>
                    <input type="text" formControlName="firstName" class="form-control input-sm"
                           placeholder="first name">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group inline-label-align">
                    <label class="required">Last Name : </label>
                    <input type="text" formControlName="lastName" class="form-control input-sm"
                           placeholder="last name">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group inline-label-align radio-label">
                    <div class="row">
                      <div class="col-md-12">
                        <label class="required">Gender : </label>
                      </div>
                    </div>
                    <label class="fancy-radio">
                      <input name="gender" form value="MALE" type="radio" checked="true" #gender
                             formControlName="gender">
                      <span><i></i>Male</span>
                    </label>
                    <label class="fancy-radio">
                      <input name="gender" value="FEMALE" type="radio" #gender formControlName="gender">
                      <span><i></i>Female</span>
                    </label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group inline-label-align">
                    <label class="required">Email : </label>
                    <input type="text" formControlName="email" class="form-control input-sm" placeholder="email">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="required">Mobile Number : </label>
                    <input type="number" formControlName="mobile" (keyup)="onKeyUp($event)"  class="form-control input-sm"
                           placeholder="mobile number">
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group inline-label-align">
                    <label class="">Slack Id : </label>
                    <input type="text" formControlName="slackId" class="form-control input-sm" placeholder="Slack Id">
                  </div>
                </div>

              </div>
              <div class="row">

                <div class="col-md-6">
                  <div class="form-group">
                    <label class="required">Type :</label>
                    <select class="form-control input-sm" [value]="userTypes[0].key" #userType placeholder="text field"
                            (change)="onUserTypeChange(userType.value)">
                      <option *ngFor="let userType of userTypes" value="{{userType.key}}">
                        {{userType.value}}
                      </option>
                    </select>
                  </div>
                </div>


                <div *ngIf="selectedUserType === 'INTERNAL'" class="col-md-6" formGroupName="designation">
                  <div class="form-group">
                    <label class="required">Designation :</label>
                    <select class="form-control input-sm" formControlName="id" placeholder="text field">
                      <option *ngFor="let designation of designations" value="{{designation.id}}">
                        {{designation.name}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="selectedUserType === 'INTERNAL'">
              <div class="col-md-6" formGroupName="module">
                <div class="form-group">
                  <label class="required">Module : </label>
                  <select class="form-control input-sm" formControlName="id" placeholder="text field">
                    <option disabled>Select One</option>
                    <option *ngFor="let module of modules" value="{{module.id}}">{{module.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6" formGroupName="role">
                <div class="form-group">
                  <label class="required">Role : </label>
                  <select class="form-control input-sm" formControlName="id" placeholder="text field">
                    <option *ngFor="let role of roles" value="{{role.id}}">{{role.name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12" align="right">
                <button data-size="s" type="submit" class="submit-btn" [ladda]="isLoading">
                  {{isEditMode?'Update':'Submit'}}
                </button>
                <button type="button" (click)="cancel()" class="btn btn-primary cancel-btn">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- END MAIN CONTENT -->
</div>
