<div class="panel-heading newhead newbgpopup">
  <div class="row">
    <div class="col-md-12">
      <button type="button" class="preview-button-close" (click)="close()">
        <span>×</span>
      </button>
      <h3>Error Stack Trace</h3>
    </div>
  </div>
</div>
<div class="panel-body">
  <div class="modal-body error-modal-body ng-scope">
    <h4 class="ng-binding">{{errorData.errorMessage}}</h4>
    <pre class="alert-danger ng-binding">{{errorData.error}}</pre>
  </div>
  <div class="modal-footer ng-scope">
    <button class="btn cancel-btn" (click)="close()">Close
    </button>
  </div>
</div>
