<div class="col-md-12 right-pad2 left-pad2">
  <div class="panel panel-heading newhead newbg">
    <div class="row">
      <div class="col-md-6 innerheadsource">
        <h4>File Availability</h4>
      </div>
      <div class="col-md-6" align="right" *ngIf="showTable">
        <button type="button" (click)="newFormNavigate()" class="btn new-page-btn"><i class="fa fa-plus-circle"
                                                                                      aria-hidden="true"></i> New
        </button>
      </div>
    </div>
  </div>
  <div class="panel panel-profile">
    <div class="clearfix">
      <div class="" *ngIf="!showTable">
        <div class="row  top-spc">
          <div class="col-md-12">
            <div class="col-md-4">
              <div class="form-inline">
                <label>Module</label> : <span>{{reconCycle?.moduleName}}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 table-responsive2">
            <table class="table table_spc table-striped">
              <tr id="heading-color">
                <th>Data Source</th>
                <th>Type</th>
                <th>File Avail time</th>
              </tr>
              <tr *ngFor="let cycle of reconCycle?.sourceAvails">
                <td>{{cycle.dataSourceName}}</td>
                <td>{{cycle.reconSettingType}}</td>
                <td>{{cycle.availTime}}</td>
              </tr>
            </table>
          </div>
        </div>

        <div class="col-md-12 spc-bottom" align="right">
          <button (click)="edit()" data-size="s" type="submit" class="btn submit-btn">Edit</button>
          <button data-size="s" (click)="cancel()" type="button"
                  class="btn cancel-btn">Cancel
          </button>
        </div>
      </div>
      <div class="col-md-12 table-responsive top-spc" *ngIf="showTable">
        <table datatable [dtOptions]="dtOptions" class="table table-condensed">
        </table>
      </div>
    </div>
  </div>
</div>


