<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="col-md-12 left-pad2 right-pad2">
      <div class="panel panel-profile">
        <div class="panel panel-heading newhead newbg iconsize">
          <div class="row">
            <div class="col-md-6 innerheadsource">
              <h3>BRS Report</h3>
            </div>
          </div>
        </div>
        <form [formGroup]="form">
          <div class="">
            <div class="clearfix">
              <div class="row form-inner-cover">
                <div class="col-md-12 top-spc">
                  <div class="col-md-4 right-margin">
                    <label>RECON</label>
                    <select class="form-control" formControlName="reconId" #recon>
                      <option value="null" disabled>--Recon--</option>
                      <option *ngFor="let recon of recons" value="{{recon.id}}">
                        {{recon.name}}
                    </select>
                  </div>
                  <div class="col-md-2">
                    <label>DATE</label>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Date" bsDatepicker
                             #date [bsConfig]="bsConfig">
                    </div>
                  </div>
                  <div class="col-md-2">
                    <label>SUBMIT</label>
                    <div class="form-group">
                    <button type="button" (click)="getReport(recon.value,date.value)"
                            class="btn submit-btn">View
                    </button>
                  </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="panel panel-body all-cover-relax-match">
        <section *ngIf="reportData?.bankName!=null">

          <div class="wizard">
            <h3 class="center">{{'Airtel Payments Bank Ltd - Bank Reconciliations'}}</h3>
            <table class="table table-hover ntsl-report-table">
              <tbody>
                <tr>
                  <td style="text-align: end;"><b>{{'Bank Name'}}</b></td>
                  <td class="center"><b>{{'Reserve Bank Of India'}}</b></td>
                </tr>
                <tr>
                  <td style="text-align: end;"><b>{{'Nature of account'}}</b></td>
                  <td class="center"><b>{{reportData?.bankName}}</b></td>
                </tr>
                <tr>
                  <td style="text-align: end;"><b>GL Code</b></td>
                  <td class="center"><b>{{'2419040'}}</b></td>
                </tr>
                <tr>
                  <td style="text-align: end;"><b>{{'Account No.'}}</b></td>
                  <td class="center"><b>{{'39655201001'}}</b></td>
                </tr>
                <tr>
                  <td style="text-align: end;"><b>{{'Period-Date'}}</b></td>
                  <td class="center"><b>{{date.value}}</b></td>
                </tr>
              </tbody>

              </table>

            <div class="row">
              <div class="col-md-12">
                <div class="tab-content">

                  <div class="tab-pane active" role="tabpanel" id="step2">
                    <div class="col-md-12 wizard-body">
                      <div class="#TABLEEE" #table>
                        <!--<div class="center col-md-10">
                          <h3 class="center">{{'Airtel Payments Bank Ltd - Bank Reconciliations'}}</h3>
                        </div>
                        <div class="col-md-2 download-align top-spc20" align="right">
                          <a type="button"  title="Download" download="brs report.xlsx"
                             (click)="downloadReport(recon.value)"
                             class="btn download-icon"><i
                            class="fa fa-download" aria-hidden="true"></i>
                          </a>
                        </div>
                        <div class="row brs">
                          <div class="col-md-8">
                            <div class="form-inline">
                              <b>Bank Name</b>
                              <span style="float: right;">{{'Reserve Bank Of India'}}</span>
                            </div>
                          </div>
                        </div>
                        <div class="row brs">
                          <div class="col-md-8">
                            <div class="form-inline">
                              <b>Nature of account</b>
                              <span style="float: right;">{{reportData?.bankName}}</span>
                            </div>
                          </div>
                        </div>
                        <div class="row brs">
                          <div class="col-md-8">
                            <div class="form-inline">
                              <b>GL Code </b>
                              <span style="float: right;">{{'2419040'}}</span>
                            </div>
                          </div>
                        </div>
                        <div class="row brs">
                          <div class="col-md-8">
                            <div class="form-inline">
                              <b>Account No.</b>
                              <span style="float: right;">{{'39655201001'}}</span>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="col-md-8">
                            <div class="form-inline">
                              <b>Period-Date</b>
                              <span style="float: right;">{{date.value}}</span>
                            </div>
                          </div>
                        </div>-->
                        <table class="table table-hover ntsl-report-table" border="1">
                          <tbody>
                            <tr></tr>
                          <tr>
                            <td></td>
                            <td>Balance as per Bank Book</td>
                            <td></td>
                            <td class="wizard-right">{{reportData?.bankGlBalance | number:'1.2-2'}}</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Oracle Balance</td>
                            <td></td>
                            <td class="wizard-right">{{reportData?.balanceAsPerOurBooksOfAc | number:'1.2-2'}}</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>OFA Error</td>
                            <td></td>
                            <td class="wizard-right">{{reportData?.bankControlGlBalance | number:'1.2-2'}}</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td><b>TOTAL</b></td>
                            <td></td>
                            <td></td>
                            <td class="wizard-right">{{reportData?.balanceAsPerOurBooksOfAc | number:'1.2-2'}}</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Add:</td>
                            <td><b><u>NEFT initiated but not debited by bank</u></b></td>
                            <td><b>1</b></td>
                            <td></td>
                            <td class="wizard-right">{{reportData?.annexure1 | number:'1.2-2'}}</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>0-3 Days</td>
                            <td></td>
                            <td class="wizard-right">{{reportData?.brsbookCrVo?.zeroThree | number:'1.2-2'}}</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>3-7 Days</td>
                            <td></td>
                            <td class="wizard-right">{{reportData?.brsbookCrVo?.threeSeven | number:'1.2-2'}}</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>More than 7 Days</td>
                            <td></td>
                            <td class="wizard-right">{{reportData?.brsbookCrVo?.aboveSeven | number:'1.2-2'}}</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Add:</td>
                            <td><b><u>Amount Credited by bank but not debited by us</u></b></td>
                            <td><b>2</b></td>
                            <td></td>
                            <td class="wizard-right">{{reportData?.annexure2 | number:'1.2-2'}}</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>0-3 Days</td>
                            <td></td>
                            <td class="wizard-right">{{reportData?.brsbankCrVo?.zeroThree | number:'1.2-2'}}</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>3-7 Days</td>
                            <td></td>
                            <td class="wizard-right">{{reportData?.brsbankCrVo?.threeSeven | number:'1.2-2'}}</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>More than 7 Days</td>
                            <td></td>
                            <td class="wizard-right">{{reportData?.brsbankCrVo?.aboveSeven | number:'1.2-2'}}</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Less:</td>
                            <td><b><u>NEFT  initiated  but not credited by bank</u></b> </td>
                            <td><b>3</b></td>
                            <td></td>
                            <td class="wizard-right">{{reportData?.annexure3 | number:'1.2-2'}}</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>0-3 Days</td>
                            <td></td>
                            <td class="wizard-right">{{reportData?.brsbookDrVo?.zeroThree | number:'1.2-2'}}</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>3-7 Days</td>
                            <td></td>
                            <td class="wizard-right">{{reportData?.brsbookDrVo?.threeSeven | number:'1.2-2'}}</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>More than 7 Days</td>
                            <td></td>
                            <td class="wizard-right">{{reportData?.brsbookDrVo?.aboveSeven | number:'1.2-2'}}</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Less:</td>
                            <td><b><u>Amount debited by bank but not Credited by us</u></b></td>
                            <td><b>4</b></td>
                            <td></td>
                            <td class="wizard-right">{{reportData?.annexure4 | number:'1.2-2'}}</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>0-3 Days</td>
                            <td></td>
                            <td class="wizard-right">{{reportData?.brsbankDrVo?.zeroThree | number:'1.2-2'}}</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>3-7 Days</td>
                            <td></td>
                            <td class="wizard-right">{{reportData?.brsbankDrVo?.threeSeven | number:'1.2-2'}}</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>More than 7 Days</td>
                            <td></td>
                            <td class="wizard-right">{{reportData?.brsbankDrVo?.aboveSeven | number:'1.2-2'}}</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr class="bold">
                            <td></td>
                            <td>Balance</td>
                            <td></td>
                            <td></td>
                            <td class="wizard-right">{{reportData?.derived | number:'1.2-2'}}
                            </td>
                          </tr>
                          <tr class="bold">
                            <td></td>
                            <td>Balance as per Bank Statement</td>
                            <td></td>
                            <td></td>
                            <td class="wizard-right">{{reportData?.balanceAsPerBankStatement | number:'1.2-2'}}</td>
                          </tr>
                          <tr class="bold">
                            <td></td>
                            <td>Difference if any</td>
                            <td></td>
                            <td></td>
                            <td class="wizard-right">{{reportData?.diffrence | number:'1.2-2'}}
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </section>
        <div *ngIf="reportData?.bankName==null" class="row">
          <div class="col-md-12">
            <div class="tab-content">

              <div class="col-md-12 wizard-body">
                <div class=" table-responsive #TABLEEE" #table>
                  <div class="center col-md-10">
                    <h5 class="center">No Transaction found for this Date</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END MAIN CONTENT -->
</div>
