<div class="col-md-9">
  <div class="col-md-4">
    <div class="form-group top-spc">
      <label><b>Privilege Name</b></label> :
      <span>{{escalations.privilegeMenuName}}</span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group top-spc">
      <label><b>Escalation Hrs</b></label> :
      <span>{{escalations.escalationHrs}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" align="right">
      <button (click)="edit()" type="submit" class="btn submit-btn">Edit</button>
    </div>
  </div>
</div>
