<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="col-md-12 left-pad2 right-pad2">

      <div class="panel">
        <div class="panel-heading newbg">
          <h3 class="panel-title">Job Detail</h3>
        </div>
        <div class="panel-body">
          <div class="panel-body">

            <div class="row detailpage">
                <div class="col-md-4">
                  <div class="form-inline">
                    <label>ID</label> :
                    <span>{{job.id}}</span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-inline">
                    <label>Name</label> : <span>{{job.name}}</span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-inline">
                    <label>Module</label> : <span>{{job.moduleName}}</span>
                  </div>
                </div>
            </div>

            <div class="row detailpage">
              <div class="col-md-4">
                <div class="form-inline">
                  <label>Number of Retrial</label> : <span>{{job.noOfRetrial}}</span>
                </div>
              </div>
                <div class="col-md-4">
                  <div class="form-inline">
                    <label>Retrial Interval</label> : <span>{{job.retrialInterval}}</span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-inline">
                    <label>Scheduling Type</label> : <span>{{job.scheduleType}}</span>
                  </div>
                </div>
            </div>

              <div class="row detailpage">
                <div class="col-md-4" *ngIf="job.scheduleType==='CRON'">
                  <div class="form-inline">
                    <label>Cron Expression</label> : <span>{{job.cronExpression}}</span>
                  </div>
                </div>
                <div *ngIf="job.scheduleType==='EVENT'" class="col-md-4">
                  <div class="form-inline">
                    <label>Event</label> : <span>{{job.eventName}}</span>
                  </div>
                </div>

                <div *ngIf="job.scheduleType==='EVENT'&&job.eventName==='RECON_FINISHED'" class="col-md-4">
                  <div class="form-inline">
                    <label>Recon</label> : <span>{{job?.reconName}}</span>
                  </div>
                </div>
                <div *ngIf="job.scheduleType==='EVENT'&&job.eventName!=='RECON_FINISHED'" class="col-md-4">
                  <div class="form-inline">
                    <label>DataSources</label> : <span>{{job?.dataSourcesStr}}</span>
                  </div>
                </div>
                <div *ngIf="job.enable" class="col-md-4">
                  <div class="form-inline">
                    <label>Status</label> : <span>Active</span>
                  </div>
                </div>
              </div>

            <div class="row detailpage" *ngIf="!job.enable">
                <div *ngIf="!job.enable" class="col-md-4">
                  <div class="form-inline">
                    <label>Status</label> : <span>Inactive</span>
                  </div>
                </div>
                <div *ngIf="!job.enable" class="col-md-4">
                  <div class="form-inline">
                    <label>Active on</label> : <span> {{job.activatiOn| date:['dd-MM-yyy h:mm:ss a']}}</span>
                  </div>
                </div>
            </div>

            <div class="row detailpage">
                <div class="col-md-12 rowbg">
                  <div class="form-inline">
                    <label>Description </label> : <span>{{job.description}}</span>
                  </div>
                </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12"><h4>Steps </h4></div>
          </div>

          <div class="panel-body">
            <div class="row detailpage">
              <div class="col-md-12">
                <div class="col-md-1">
                  <div class="form-group">
                    <label>Step</label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="lbl6">Activity Type</label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Activity</label>
                  </div>
                </div>
              </div>
            </div>


            <div *ngFor="let element of job.activities;let i=index" class="row formArray detailpage">
              <div class="col-md-12 ">
                <div class="col-md-1">
                  <div class="form-inline">
                    <span>{{i+1}}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-inline">
                    <span>{{element.type}}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-inline">
                    <span>{{element.activity?.name}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="col-md-12" align="right">
                <button (click)="back()" type="button" [routerLink]="['/home/scheduler', 'job', {outlets: {'fullBodyOutlet': ['list']}}]"
                        class="btn submit-btn">Back
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
  <!-- END MAIN CONTENT -->
</div>
