<div class="col-md-12 right-pad2 left-pad2">

  <div class="panel panel-heading newhead newbg"><h4>Recon Setting</h4></div>

  <div class="panel panel-profile" *ngIf="!isEdit">
    <div class="clearfix">
      <div class="row form-inner-cover cover2">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="col-sm-12 top-spc">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-3">
                  <div class="form-group">
                    <label class=" required">Module</label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class=" required">Recon</label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class=" required">Setting Type</label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class=" required">Matching Count</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngFor=" let setting of form.get('reconSetting')['controls'] ; let i = index">
            <div class="col-sm-12" formArrayName="reconSetting">
              <div class="row formArray" [formGroupName]="i">
                <div class="col-md-12">
                  <div class="col-md-3">
                    <div class="form-group">
                      <select class="form-control input-sm" #moduleId
                              formControlName="moduleId" (change)="setting.get('reconId').reset()">
                        <option value="null" disabled>--Select One--</option>
                        <option *ngFor="let module of modules" value="{{module.id}}">{{module.name}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <select class="form-control input-sm" formControlName="reconId">
                        <option value="null" disabled>--Select One--</option>
                        <option *ngFor="let recon of reconSettingMap.get(+moduleId.value)" value="{{recon.id}}">
                          {{recon.name}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <select class="form-control input-sm" formControlName="settingType">
                        <option value="null" disabled>--Select One--</option>
                        <option *ngFor="let recon of settingEnums()" value="{{recon}}">{{recon}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-2 ">
                    <div class="form-group">
                      <input type="number"  class="form-control" formControlName="matchingInFileCount"
                             placeholder="count">
                    </div>
                  </div>
                  <div class="col-md-1" *ngIf="i > 0">
                    <a href="javascript:void(0);" (click)="removeReconSetting(i)"
                       class="text-danger delete-btn"><i class="fa fa-trash-o"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row bottom-30">
            <div class="col-sm-12">
              <div class="col-md-12">
                <div class="col-md-6">
                  <button type="button" (click)="addReconSetting()" class="btn btn-primary add-btn"><i
                    class="fa fa-plus-circle" aria-hidden="true"></i>
                    Add
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="col-md-12" align="right">
                <button data-size="s" type="submit" class="btn submit-btn" [ladda]="isLoading">Submit</button>
                <button type="button" (click)="cancel()" class="btn btn-primary cancel-btn">Cancel</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div *ngIf="isEdit">
    <app-recon-setting-detail [reconSettingData]="reconSettingData"
                              (editClick)="editDetail()"></app-recon-setting-detail>
  </div>
</div>


