<div class="panel2">
  <div class="panel-heading newcommanbginner">
      <div class="col-md-6">
        <h3 class="panel-title">{{dashlet.name}} <div class="drill-down-label" *ngIf="drillDownFilters.length >0 "> - Filtered by <p class="drill-down-label" *ngFor="let drillDownFilter of drillDownFilters"> {{drillDownFilter.value}} &nbsp;&nbsp; </p></div> </h3>
      </div>
    <div align="right" class="dashboard-icon-size cursor col-md-6">
      <button [disabled]='!isFilterViewAble' (click)="openDialog()"><i class="fa fa-filter" [class.active]='!isFilterViewAble'  aria-hidden="true"></i></button>
      <div id="download" class="chart-download">
        <a href="javascript:void(0)" (click)="downloadAsExcel()" class="dropdown-toggle icon-menu icon-menu2" data-toggle="dropdown">
          <i class="fa fa-download" aria-hidden="true"></i>
        </a>
      </div>
      <button [disabled]='!showTable' (click)="refreshGrid()"><i [class.active]='!showTable' class="fa fa-refresh" aria-hidden="true"></i></button>
    </div>
    </div>
  <div class="panel-body panel-body-border dashboard-tab-body-layout">
    <div *ngIf="showTable">
      <div class="dashboard-grid-table">
      <table border="0" datatable [dtOptions]="dtOptions" class="table ticket-analysis-table">
      </table>
      </div>
    </div>
  </div>
</div>
