.checkbox, .radio {
  position: inherit;
}

.record-list {
  padding-left: 0;
  margin-bottom: 0;
}

.record-list .record-list-item.is-root {
  padding: 2.5px;
}

.record-list .record-list-item {
  clear: left;
  list-style: none;
  padding: 2.5px 2.5px 2.5px 20px;
}

.record-list .record-list-item .toggler {
  font-size: 1em;
  line-height: 1em;
  vertical-align: middle;
  opacity: .6;
  cursor: pointer;
}

.record-list [data-toggle="collapse"]:after {
  transform: rotate(90deg);
  transition: all linear 0.25s;
  display: inline-block;
  content: "►";
}

.record-list [data-toggle="collapse"].collapsed:after {
  transform: rotate(0deg);
}

.record-list .record-list-item .field-type {
  padding-left: 10px;
  opacity: .4;
}

.record-list .record-list-item .field-type:before {
  content: '{';
}

.record-list .record-list-item .field-type:after {
  content: '}';
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff !important;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.preview-table td label {
  margin-bottom: 0;
  font-weight: 400 !important;
  white-space: normal;
  text-align: left;
  margin-top: 0px !important;
}

.label-danger {
  background-color: #d9534f;
  font-size: 90%;
}

.record-list .record-list-item .field-index {
  padding-right: 10px;
  opacity: .4;
}

.record-list .record-list-item .field-index:before {
  content: '[';
}

.record-list .record-list-item .field-index:after {
  content: ']';
}

.field-value {
  margin-left: 10px;
}

body .field-value.STRING:after, body .field-value.STRING:before {
  content: '"';
}

body .field-value.STRING {
  color: green;
}

td {
  vertical-align: top !important;
}

.preview-table {
  font-size: 14px;
}

.pointer {
  cursor: pointer;
}
