<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="col-md-12 left-pad2 right-pad2">
      <div class="panel panel-profile">
        <div class="panel panel-heading newhead newbg iconsize">
          <div class="row">
            <div class="col-md-6 innerheadsource">
              <h3>GL Configurations</h3>
            </div>
            <div class="col-md-6" align="right">
              <a [routerLink]="['/home/recon', 'gl-config', {outlets: {'fullBodyOutlet': ['form']}}]" title="">
                <button type="button" class="btn btn-success new-page-btn"><i class="fa fa-plus-circle"
                                                                              aria-hidden="true"></i> New
                </button>
              </a>
            </div>
          </div>
        </div>
        <div class="">
          <div class="clearfix">
            <div class="row form-inner-cover">
              <div class="col-md-12 top-spc">
                <div class="col-md-3 right-margin">
                  <label>Name</label>
                  <input type="text" #glName (keyup)="search(glName.value, 1)" class="form-control"
                         placeholder="glName">
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-profile panel-top-spc">
        <div class="clearfix">
          <div class="col-md-12 top-spc all-cover-data-sources">
            <table datatable [dtOptions]="dtOptions" class="table table-condensed">
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- END MAIN CONTENT -->
</div>
