<div id="wrapper">
  <div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 left-pad right-pad2">
            <router-outlet name="sideOutlet"></router-outlet>
          </div>
          <div class="col-md-9 left-pad right-pad">
            <router-outlet name="bodyOutlet"></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
